/* here you can put your own css to customize and override the theme */
.nomarginbottom{ margin-bottom: 0px !important}
 .formpos{margin-top: 0;    margin-bottom: 20px;    border-top: 0;    border-bottom: 1px solid #e5e5e5;border-radius: 0;float: left;width: 100%;margin-left: -20px !important;margin-right: -20px !important;}
 .posform{   margin-left: -19px; background: none !important;}
 .positembox,.cust_search,.cust_disp,.barcode_search{ padding: 8px;min-height: 0;line-height: 21px;float: left; font-size: 1.099em;width: 60%; height: auto; border: 1px solid #357ebd;margin: 0px !important;border-right: none;}
 .postbtn{ border-radius: 0px !important;padding: 8px; border: 1px solid #aaa; text-align: center;color: #333;background: #fff;background: linear-gradient(#fff, #eee); border-radius: 3px;transition: all .3s;    position: relative;}
  .postbtnactive{ color: #fff !important;background: #428bca !important; border-color: #357ebd;}
 .mb10{ margin: 10px 0px;    padding: 0px !important;}
 .posbtngrp .btn{min-width: 50px;text-transform: uppercase;margin: 3px 0px}
 .postbl{ padding: 0px !important; margin-top: -20px;}
 .postbl table a { font-size: 16px; font-weight: bold;}
 .postbl table{font-size: 16px;}
 .postbl table thead tr th, .postbl table thead{ background: #F8F8F8 !important;text-transform: uppercase;}
 .qtymbox{padding: 8px;min-height: 0;float: left; font-size: 1.099em;width: 25%; height: auto; border: 1px solid #357ebd;margin: 0px !important;}
 .pospriceDetails{}
 #producttobilling{ width: 96%}
 .pricepostbl{background: #EEEEEE; position: inherit;right: 0;top: 67px;bottom: 0;}
 .pricepostbl table{ margin-top: 10px;}
 .pricepostbl tr th{text-align: left !important;color: #555; border-bottom: 1px solid #ccc; padding: 6px 0; text-align: right; font-weight: normal;    font-size: 15px;}
 #totalName{  border-bottom: medium none;color: #000;font-weight: 600;}
 tr.total th, tr.total td{ font-size: 17px;}
.bgpos{ background: #DEEEFC}
.bgpos2{ background: #DDE9D2}
.minw{ min-width: 82px;}
.media-fix{width:100%;height:30px;position:fixed;bottom:0;left:0;}
.media-fix-inner{margin:0 auto;max-width:980px;height:30px;width:100%;background:#ff00c0;position:relative;text-align:center;}
.media-fix-inner>span{background:#303030;height:30px;padding:0 20px;display:inline-block;color:#fff;font-size:20px;line-height:30px;}
.media-fix-inner>span.mf0,.media-fix-inner>span.mf1,.media-fix-inner>span.mf2,.media-fix-inner>span.mf3,.media-fix-inner>span.mf4,.media-fix-inner>span.mf5{display:none;}
.formdisplaynone{display:none}
#producttobilling,#producttobilling thead th,#producttobilling tbody td{ font-size: 13px;}
#producttobilling thead th{ text-align: center;}
@media all and (min-width:980px){.media-fix-inner>span.mf0{display:inline-block;}
}
@media all and (max-width:979px) and (min-width:768px){
	.media-fix-inner{background:#8814ff;}
.media-fix-inner>span.mf1{display:inline-block;}
.pricepostbl {top: 361px; bottom: 10px}
}
@media all and (max-width:767px) and (min-width:600px){.media-fix-inner{background:#19cfb7;}
.media-fix-inner>span.mf2{display:inline-block;}
.pricepostbl {top: 425px; bottom: 10px}
}
@media all and (max-width:599px) and (min-width:480px){.media-fix-inner{background:#48cf19;}
.media-fix-inner>span.mf3{display:inline-block;}
.pricepostbl {top: 525px; bottom: 10px}
}
@media all and (max-width:479px) and (min-width:320px){.media-fix-inner{background:#ffb401;}
.media-fix-inner>span.mf4{display:inline-block;}
.pricepostbl {top: 625px; bottom: 10px}
}
@media all and (max-width:319px) and (min-width:0){.media-fix-inner{background:#ff1901;}
.media-fix-inner>span.mf5{display:inline-block;}
.pricepostbl {top: 650px; bottom: 10px}
}

@media all and (min-width: 980px){

	.pricepostbl{position: absolute;}

}
span.title1{float: left !important; font-weight: normal !important;}
#ajax-modal1{ top:30% !important;}
#holdmessage,#releasemessage,#voidmessage{ display: none;}
span.skey{ font-size: 10px;position: absolute; top: 1px; right: 1px; font-weight: bold; color:#8ACBF2;}
#producttobilling{ margin: 0px !important;}

/**** Demo AddProducts Css 22-March-2016 ****/
html,body{padding:0; margin:0; font-family:"Open Sans", Helvetica, Arial, Verdana, sans-serif; font-size:12px; line-height:18px; text-align:justify;}
/*.bgpos1{width:100% ! important;}*/
.theading{height: 30px;border:1px solid red; padding: 6px;text-align: left;color: #555;text-transform: uppercase; font-size: .8125rem;font-weight: normal;background-color: #f8f8f8;border-bottom: 1px solid #ccc;white-space: nowrap;text-align: left;   overflow: hidden;text-overflow: ellipsis;}
.rows{ height: 33px; font-weight: 600;font-size: 12px;}
.postbl table thead tr th, .postbl table thead{background: #F8F8F8 !important;text-transform: uppercase;}
.addproducts td{ background-color: white !important;}
.addbutton{width: 80px;  height: 34px;}.checkbox{width:175px;margin:13px;}
.dropdwn{margin: 0px 13px 13px 13px; height: 30px; width: 150px;}
.invntrycode{text-align:left;color: #666;width:195px;}
.prodname{width:200px;font-weight:600;color:#2A6FBA;}.qty{width:50px; color: #666;text-align:right;}.price{text-align:right; width:250px;color: #666;}
.productname-td{font-weight:600;color:#2A6FBA;}

/**** Demo Add Payment Css March-22-2016 ***/
.payment-footer{background-color: #6EB253 ! important;font-weight: 600;padding: 8px 15px  ! important;text-align: center;border-radius: 0;}
.payment-title{padding: 0 !important;background-color:#589141 !important; height:auto !important; border-radius:0px !important;}
.payment-caption{font-size: 20px !important;padding: 20px 15px 19px ! important;text-transform: uppercase;color:#fff; }
.td-btn{width:60px; height:40px; background: rgba(0, 0, 0, 0) linear-gradient(#fff, #eee) repeat scroll 0 0;border-radius:4px;border: 1px solid #aaa;font-weight: bolder; font-size: 15px;}
.payment-max-btn{border-radius: 2px;float: left; height: 37px;padding: 0 5px 0 5px; width: 54px;margin-left: -2px; margin-top: 0px;background: rgba(0, 0, 0, 0) linear-gradient(#fff, #eee) repeat scroll 0 0;border: 1px solid #aaa;}
.cash-td{color: #589141;font-size: 14px;padding-right: 0.75em;padding-top: 0.6em; text-align: right;text-transform: uppercase;vertical-align: top;
 width: 116px;}
 .chk-td{color: #589141;font-size: 14px;padding-right: 0.75em;padding-top: 1.6em; text-align: right;text-transform: uppercase;vertical-align: top;
 width: 115px;}.total-lbl{color:white; margin-left: -53px;font-size: 16px;}.total-result{padding: 8px; background-color:#E3E3E3;}
 .tr-footr{height:56px;}.bg-color{background-color:#D6E9CE;}
 .whole-container{border-radius:0px! important; width:300px;}
 .payment-slider{margin-left:6px; float:left;}
 .cash-txt{padding: 8px 9px 8px 0; float: left; width: 89px; text-align: right; height: 37px;font-size: 14px;}
  .quickcash{padding-top: 22px;text-align: center;}
 #Makepayment{ position: absolute;position: absolute;top: 68px;right: 16.3%; display: none;z-index: 100000;}
 #finishSaleButton {  margin: 18px 0 0 63px !important;background: #589141 !important;color: #fff !important;border: 1px solid #589141}
 .finishbuttons{display: none;}
 .cash-td, .chk-td{ position: relative;}
 .cash-td span, .chk-td span{ position: absolute;right: -22px;color: #000;font-weight: normal; top: 9px;}
 .chk-td span{top: 17px}
#addProducts{ margin-left: 15px !important;}
.sub-para{color: #666;font-size: 14px; margin-left: 15px;}
.caption-size{font-size: 20px ! important;line-height: 30px ! important;}
.portlet-height{min-height: 50px ! important;}
.adjustment-para{min-height: 30px;}
.iframe-tag{ background: #FFFFFF;border: 1px solid #888; padding: 10px;height: 461px;
    overflow-y: auto;}
/*#producttobilling tbody tr.current:hover,#producttobilling tbody tr.current:hover td{  background-color: #83D6FD !important;}*/
.prchg .control-label{font-size: 12px;color: #666; padding: 0 6px 0 12px; display: block; text-align: right;}
.th-row{width:170px;font-size: 14px; background-color: #F8F8F8 ! important;}
.td-row{background-color: white ! important;}
/*.btn:hover{background-image:none !important;background-color:#3071A9 !important; color: white; border: 1px solid #3071A9 !important}*/
.custtpl{margin: 0px !important; padding: 0px !important;}
#attchcbtns{ display: none;}
.loadinggif{margin: 14% 44%;}

/*invoice css*/
.invoice-page{ width:100%; font-family: monospace; font-size: 15px;}
.print-invoice{ margin:0 10px; width: 95%; float:left; font-family: monospace; text-align:left;font-size: 12px;font-weight: normal;}
.print-invoice p{ margin:10px auto; float:left; width:100%; float:left;color: #111111;}
.print-invoice .separation{border-top:1px dashed #000; line-height:0; margin: 1px 0;}
.print-invoice table{}
.print-invoice table tr{}
.print-invoice table td{}
.invoice-page { max-width:95%;}
#basic-modal-content,.content{ max-width:95%;}
.table>tbody>tr>th{border-bottom: #ccc !important}

.loader {
	border: 2px solid #f3f3f3;
	 border-radius: 50%;
	 border-top: 3px solid #3498db;
	 width: 20px;
	 height: 20px;
	 -webkit-animation: spin 2s linear infinite;
	 /* Safari */ animation: spin 2s linear infinite;
}/* Safari */ 
@-webkit-keyframes spin { 0% {-webkit-transform: rotate(0deg); } 100% {-webkit-transform: rotate(360deg); } } @keyframes spin {0% {transform: rotate(0deg); } 100% { transform: rotate(360deg); } }

fieldset {background-color:#f8f8f8; padding:10px; }
.legend1 {margin-bottom:0px; margin-left:16px; font-size: 12px; }
.fieldset1 {border: 1px solid #428bca; border-radius: 6px; }
.searchButton{    width: 93%; margin: 1px 10px 0px; padding: 2px 1px 10px; position: relative; top: 10px; }
.salesdropdown{
	min-height: 35px; width: 100%;border: 1px solid #dddddd;
}
.description {
    line-height: 1.5 !important;
    overflow: auto;
    max-width: 600px;
}