
Template Name: Conquer - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.0.2
Version: 1.5.1
Author: KeenThemes
Website: http://www.keenthemes.com/
Purchase: http://themeforest.net/item/conquer-responsive-admin-dashboard-template/3716838?ref=keenthemes
*/

/***
Reset and overrides
***/

/* general body settings */
body {
  color: #000;
  font-family: "Source Sans Pro","Open Sans",Helvetica,Arial,Verdana,sans-serif;
  padding: 0px !important;
  margin: 0px !important;
  direction: ltr;
  font-size: 13px;
}

/*
Internet Explorer 10 doesn't differentiate device width from viewport width, and thus doesn't
properly apply the media queries in Bootstrap's CSS. To address this,
you can optionally include the following CSS and JavaScript to work around this problem until Microsoft issues a fix.
*/
@-webkit-viewport {
  width: device-width;
}

@-moz-viewport {
  width: device-width;
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

@viewport {
  width: device-width;
}

/* Internet Explorer 10 doesn't differentiate device width from viewport width,
and thus doesn't properly apply the media queries in Bootstrap's CSS. To address this, following CSS code applied */
@-ms-viewport {
  width: auto !important;
}

/* Page print */

@media print {
  body {
      background-color: #fff !important;
  }

  .header {
    display: none;
  }

  .page-sidebar {
    display: none;
  }

  .theme-panel {
    display: none;
  }

  .hidden-print {
    display: none;
  }

  .footer {
    display: none;
  }

  .no-page-break {
    page-break-after: avoid;
  }

  .page-bar {
    display: none;
  }

  .page-container {
      margin: 0px !important;
      padding: 0px !important;
  }

  .page-content {
      padding: 0 !important;
      min-height: 300px !important;
      padding: 0px 20px 20px !important;
      margin: 0 !important;
  }
}
.matop{ margin: 10px -3px; min-height: 222px }
/***
General typography
***/
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  color: #444;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300 !important;
}

h1.block,
h2.block,
h3.block,
h4.block,
h5.block,
h6.block {
  padding-top: 10px;
  padding-bottom: 10px;
}

a {
  text-shadow: none !important;
  color: #0d638f;
  cursor: pointer;
}

/***
Fix link outlines after click
***/
a,a:focus, a:hover, a:active {
  outline: 0;
}

/***
Font Awesome Icons
***/
[class^="fa-"],
[class*=" fa-"] {
  display: inline-block;
  margin-top: 1px;
  font-size: 14px;
  *margin-right: .3em;
  line-height: 14px;
}

/***
Make font awesome icons fixed width(latest version issue)
***/
li [class^="fa-"],
li [class*=" fa-"] {
  display: inline-block;
  width: 1.25em;
  text-align: center;
}
li [class^="fa-"].icon-large,
li [class*=" fa-"].icon-large {
  /* increased font size for icon-large */
  width: 1.5625em;
}
/***
Close icon used for modal dialog and other UI element close buttons
***/
.close {
  display: inline-block;
  margin-top: 0px;
  margin-right: 0px;
  width: 9px;
  height: 9px;
  text-indent: -10000px;
  background-repeat: no-repeat !important;
  background-image: url("../img/remove-icon-small.png") !important;
}

/***
General HR
***/

hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #E0DFDF;
  border-bottom: 1px solid #FEFEFE;
}

/***
Tools
***/
.display-none,
.display-hide {
  display: none;
}

.no-space {
  margin: 0px !important;
  padding: 0px !important;
}

.margin-bottom-5 {
  margin-bottom: 5px !important;
}

.margin-bottom-10 {
  margin-bottom: 10px !important;
}

.margin-top-10 {
  margin-top: 10px !important;
}

.margin-bottom-15 {
  margin-bottom: 15px !important;
}

.margin-bottom-20 {
  margin-bottom: 20px !important;
}

.margin-top-20 {
  margin-top: 20px !important;
}

.margin-bottom-25 {
  margin-bottom: 25px !important;
}

.margin-right-10 {
  margin-right: 10px !important;
}


.bold {
  font-weight: 700 !important;
}

.thin {
  font-weight: 300 !important;
}

.uppercase {
  text-transform: uppercase !important;
}


.fix-margin {
  margin-left: 0px !important
}

.border {
  border: 1px solid red;
}

.inline {
  display: inline;
}

/***
ie8 & ie9 modes
***/
.visible-ie8 {
  display: none;
}

.ie8 .visible-ie8 {
  display: inherit !important;
}

.visible-ie9 {
  display: none;
}

.ie9 .visible-ie9 {
  display: inherit !important;
}

.hidden-ie8 {
  display: inherit;
}

.ie8 .hidden-ie8 {
  display: none !important;
}

.hidden-ie9 {
  display: inherit;
}

.ie9 .hidden-ie9 {
  display: none !important;
}

/********************
 GENERAL LAYOUT
*********************/

/***
Header and header elements.
***/

.header {
  width: 100%;
  padding: 0 20px 0 20px;
  margin: 0;
  border: 0px;
  padding: 0px;
  box-shadow: none;
  height: 45px;
  min-height: 45px;
}

.header.navbar-fixed-top {
  z-index: 9995 !important;
}

.header .navbar-brand {
  display: inline-block;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  width: 215px;
  height: 45px;
}

.header .page-logo {
  float: left;
  display: block;
  width: 225px;
  height: 45px;
  padding-left: 40px;
  padding-right: 20px;
}

.header .page-logo img {
  margin: 16px 0 0 0;
}

/* quick search */
.header .search-form,
.page-sidebar-menu .search-form {
  display: inline-block;
  margin-top: 7px;
  margin-left: 25px;
}

.header .search-form {
  float: left;
}

.header .search-form .form-control,
.page-sidebar-menu .search-form .form-control {
  -webkit-border-radius: 15px;
     -moz-border-radius: 15px;
          border-radius: 15px;
  padding-top: 6px;
  border: 0;
}

.header .search-form .input-icon > i,
.page-sidebar-menu .search-form .input-icon > i {
  margin-top: 9px;
}

.header .search-form .input-icon > i:hover,
.page-sidebar-menu .search-form .input-icon > i:hover {
  cursor: pointer;
}

.page-sidebar-menu .search-form {
  margin: 15px 10px 15px 15px;
}

/* sidebar toggle */
.header .navbar-toggle {
  margin: 10px 6px 9px 6px;
  padding: 0;
  padding-top:2px;
  padding-bottom: 6px;
  background-image: none;
  filter:none;
  box-shadow: none;
  color: #fff;
  border: 0;
}

.header .navbar-toggle:hover {
  text-decoration: none;
  background: none;
}

.header .navbar-nav {
  height: 45px;
  margin-right: 20px;
  display: block;
}

.header .navbar-nav > li {
  margin: 0px !important;
  padding: 0px !important;
}

.header .navbar-nav > li.devider {
  margin-left: 10px !important;
  margin-right: 5px !important;
  height: 45px;
  width: 1px !important;
}

.header .navbar-nav > li.dropdown,
.header .navbar-nav > li.dropdown > a {
  padding-left: 4px;
  padding-right: 4px;
}

.header .navbar-nav > li.dropdown > a:last-child {
  padding-right: 0;
}

.header .navbar-nav > li.dropdown:last-child {
   padding-right: 2px;
}

.header .navbar-nav > li.dropdown .dropdown-toggle {
  padding: 14px 12px 10px 12px;
  margin: 0 2px;
}

.header .navbar-nav > li.dropdown .dropdown-toggle > i {
  font-size: 18px;
}

.header .navbar-nav > li.dropdown .dropdown-menu > li > a > i {
  font-size: 14px;
}

.header .navbar-nav > li.dropdown.user .dropdown-toggle {
  margin: 0 !important;
  padding: 12px 8px 12px 8px;
}

.header .navbar-nav > li.dropdown.user .dropdown-toggle .username {
  display: inline-block;
}

.header .navbar-nav > li.dropdown.user .dropdown-toggle:hover {
  text-decoration: none;
}

.header .navbar-nav li.dropdown.user .dropdown-toggle img {
  float: left;
  display: inline-block;
  margin-top: -4px;
  margin-right: 5px;
}

.header .navbar-nav li.dropdown.user .dropdown-toggle i {
  display: inline-block;
  margin-top: 5px;
  margin: 0;
  font-size: 13px;
}

.header .navbar-nav > li.dropdown.user .dropdown-menu i {
  display: inline-block;
}

.header .navbar-nav li.dropdown.user img {
  border-radius: 50%;
}

.header .navbar-nav > li.dropdown .dropdown-toggle .badge {
  position: absolute;
  top: 10px;
  right: 2px;
  border-radius: 2px  !important;
  font-weight: 300px;
  padding: 1px 4px 0px 4px;
  height: 14px;
}

/* language bar */

.header .navbar-nav > li.dropdown.language {
  padding-left: 0;
  padding-right: 0;
  margin: 0 !important;
}

.header .navbar-nav > li.dropdown.language > a {
  color: #ddd;
  font-size: 13px;
  padding: 12px 2px 13px 5px;
}

.header .navbar-nav > li.dropdown.language > a > img {
  margin-bottom: 2px;
}

.header .navbar-nav > li.dropdown.language > a > i {
  font-size: 16px;
}

.header .navbar-nav > li.dropdown.language > .dropdown-menu > li > a > img {
  margin-bottom: 2px;
}

.header .navbar-nav .dropdown-menu {
  margin-top: 3px;
}

/***
Page container
***/
.page-container {
  margin: 0px;
  padding: 0px;
  position: relative;
}

.page-container:before,
.page-container:after {
  display: table;
  content: " ";
}

.page-container:after {
  clear: both;
}

.page-header-fixed .page-container {
  margin-top: 45px;
}

/*** IE 8 Fixes ***/
/***
Page sidebar
***/

.ie8 .page-sidebar {
  width: 225px;
  float: left;
  position: relative;
  margin-left: -100%;
}

/***
Page content
***/
.ie8 .page-content-wrapper {
    float: left;
    width: 100%;
  }

.ie8 .page-content {
    margin-left: 225px;
    margin-top: 0px;
    min-height: 760px;
    padding: 25px 20px 20px 20px;
 }
/*** IE 8 Fixes ***/

.page-sidebar.navbar-collapse {
  padding: 0;
}

.page-sidebar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  margin: 0;
  padding: 0;
}

.page-sidebar-menu > li {
  display: block;
  margin: 0;
  padding: 0;
  border: 0px;
}

.page-sidebar-menu > li.sidebar-toggler-wrapper,
.page-sidebar-menu > li.sidebar-search-wrapper {
  margin: 0;
  padding: 0;
  border-bottom: 0;
}

.page-sidebar-menu > li.start > a {
   border-top-color: transparent !important;
}

.page-sidebar-menu > li:last-child > a,
.page-sidebar-menu > li.last > a {
   border-bottom-color: transparent !important;
}

.page-sidebar-menu > li > a {
  border-right: 4px solid transparent;
  display: block;
  position: relative;
  margin: 0;
  padding: 10px 13px 10px 15px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
}

.page-sidebar-fixed .page-sidebar-menu > li > a {
  -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
       -o-transition: all 0.2s ease;
          transition: all 0.2s ease;
}

.page-sidebar-reversed.page-sidebar-fixed .page-sidebar-menu > li > a{
     -webkit-transition: none;
        -moz-transition: none;
          -o-transition: none;
             transition: none;
}



.page-sidebar-menu > li > a i {
  font-size: 16px;
  margin-right: 5px;
  text-shadow:none;
}

.page-sidebar-menu.page-sidebar-menu-circle-icons > li > a i {
  font-size: 12px;
  margin-right: 5px;
  text-shadow:none;
  border-radius: 50%;
  border: 1px solid #555;
  height: 25px;
  width: 25px;
  text-align: center;
  padding: 5px 5px 5px 5px;
}

.page-sidebar-menu > li.break {
  margin-bottom: 20px;
}

.page-sidebar-menu > li.active > a {
  border: none;
  text-shadow:none;
  /*border-right: 4px solid #d12610;*/
}

.page-sidebar ul > li > a > .arrow:before {
   float: right;
   margin-top: 0px;
   margin-right: 5px;
   display: inline;
   font-size: 16px;
   font-family: FontAwesome;
   height: auto;
   content: "\f104";
   font-weight: 300;
   text-shadow:none;
}

.page-sidebar ul.page-sidebar-menu-circle-icons > li > a > .arrow:before {
  margin-top: 3px;
}

.page-sidebar ul > li.active > a > .arrow:before {
  margin-right: 1px;
}

.page-sidebar-menu > li > a > .arrow.open:before {
   float: right;
   margin-top: 0px;
   margin-right: 3px;
   display: inline;
   font-family: FontAwesome;
   height: auto;
   font-size: 16px;
   content: "\f107";
   font-weight: 300;
   text-shadow:none;
}

/* bagin: sidebar menu badges */
.page-sidebar-menu li > a .badge {
   float: right;
   margin-top: 1px;
   margin-right: 13px;
}

/* end: sidebar menu badges */

.page-sidebar-menu .sub-menu {
  padding: 0;
}

.page-sidebar-menu > li > ul.sub-menu {
  display: none;
  list-style: none;
  clear: both;
  margin: 8px 0px 8px 0px;
}

.page-sidebar-menu > li.active > ul.sub-menu {
  display: block;
}

.page-sidebar-menu > li > ul.sub-menu > li {
  background: none;
  margin: 0px;
  padding: 0px;
  margin-top: 1px !important;
}

.page-sidebar-menu > li > ul.sub-menu > li > a {
  display: block;
  margin: 0px 0px 0px 0px;
  padding: 5px 0px;
  padding-left: 35px !important;
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
  background: none;
}

/* 3rd level sub menu */
.page-sidebar-menu > li > ul.sub-menu  > li ul.sub-menu {
  display: none;
  list-style: none;
  clear: both;
  margin: 0px 0px 0px 0px;
}

.page-sidebar-menu > li > ul.sub-menu  li > a > .arrow:before   {
   float: right;
   margin-top: 1px;
   margin-right: 20px;
   display: inline;
   font-size: 16px;
   font-family: FontAwesome;
   height: auto;
   content: "\f104";
   font-weight: 300;
   text-shadow:none;
}

.page-sidebar-menu > li > ul.sub-menu  li > a > .arrow.open:before {
   float: right;
   margin-top: 1px;
   margin-right: 18px;
   display: inline;
   font-family: FontAwesome;
   height: auto;
   font-size: 16px;
   content: "\f107";
   font-weight: 300;
   text-shadow:none;
}

.page-sidebar-menu > li.active > ul.sub-menu > li.active ul.sub-menu {
  display: block;
}

.page-sidebar-menu > li > ul.sub-menu > li  ul.sub-menu li {
  background: none;
  margin: 0px;
  padding: 0px;
  margin-top: 1px !important;
}

.page-sidebar-menu > li > ul.sub-menu  li > ul.sub-menu > li > a {
  display: block;
  margin: 0px 0px 0px 0px;
  padding: 5px 0px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
  background: none;
}

.page-sidebar-menu > li > ul.sub-menu > li > ul.sub-menu > li > a {
  padding-left: 60px;
}

.page-sidebar-menu > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li > a {
  padding-left: 80px;
}

.page-sidebar-menu > li.active > ul.sub-menu > li.active ul.sub-menu > li.active ul.sub-menu {
  display: block;
}


.page-sidebar-menu > li > ul.sub-menu  li > ul.sub-menu > li > a > i {
  font-size: 13px;
}

/***
Sidebar toggler(show/hide)
***/
.page-sidebar .clearfix {
	height: 0px !important;
}

.page-sidebar .clock-status {
	border: 1px solid #F6B444;
	color: #F6B444;
	font-weight: normal;
	padding:0 3px;
	float:right;
	margin:3px 12px 0 0;
	text-transform:uppercase;
	font-size:12px;
}

.page-sidebar-menu > li > a .userlogintitle {
	font-size: 14px;
}

.sidebar-toggler {
  -webkit-border-radius: 4px 0px 0px 4px;
     -moz-border-radius: 4px 0px 0px 4px;
          border-radius: 4px 0px 0px 4px;
  cursor: pointer;
  display: block;
  float: right;
  margin: 0;
  border: 0;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 24px;
  height: 23px;
  margin-right: -1px;
  background-color: #FcFcFc;
  position: relative;
  z-index: 9999;
}

.sidebar-toggler:before {
   margin: 0px 2px 3px 8px;
   display: inline-block;
   font-size: 18px;
   font-family: FontAwesome;
   height: auto;
   content: "\f104";
   font-weight: 300;
   text-shadow:none;
}

.page-sidebar-closed .sidebar-toggler:before {
  content: "\f105";
  margin: 0px 2px 3px 10px;
}

.page-sidebar-reversed.page-sidebar-closed .sidebar-toggler:before {
  content: "\f104";
  margin: 0px 4px 3px 8px;
}

.page-sidebar-reversed .sidebar-toggler:before {
  content: "\f105";
}

.page-sidebar-reversed .sidebar-toggler {
  margin-right: 0;
  margin-left: -1px;
  float: left;
  -webkit-border-radius: 0px 4px 4px 0px;
     -moz-border-radius: 0px 4px 4px 0px;
          border-radius: 0px 4px 4px 0px;
}

.ie .page-sidebar-reversed .sidebar-toggler {
  margin-left: -1px;
}


/***
Page content
***/
.page-content {
  margin-top: 0px;
  padding: 0px;
  background-color: #FaFaFa;
  border-radius: 0 0 0 4px;
}

.page-sidebar-reversed .page-content {
  border-radius: 0 0 4px 0;
}

.page-content-no-pattern .page-content {
  background-image: none !important;
}

.page-sidebar-reversed.page-boxed .page-content,
.page-boxed .page-content,
.page-sidebar-fixed .page-content {
  border-radius: 0 0 0 4px;
}

.ie8 .page-content {
    padding: 20px;
    margin-left: 215px;
    margin-top: 0px;
    min-height: 760px;
}

.ie8 .page-sidebar-fixed .page-content {
    min-height: 600px;
}

.ie8 .page-content.no-min-height {
    min-height: auto;
  }

.page-full-width .page-content {
    margin-left: 0px !important;
}


/***
Page title
***/
.page-title {
  padding: 0px;
  font-size: 26px;
  letter-spacing: -1px;
  display: block;
  color: #666;
  margin: 0px 0px 15px 0px;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
}

.page-title small {
  font-size: 14px;
  letter-spacing: 0px;
  font-weight: 300;
  color: #888;
}

/***
Page breadcrumb
***/

/* Page breadcrumb */
.page-bar {
  border: 0;
  padding: 0px;
  background-color: #eee;
  margin-bottom: 25px;
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 10px;
  padding-right: 20px;
  float: left;
  min-width: 101.4%;
}

.page-boxed .page-bar {
  margin-right: -19px;
}

.page-bar:before,
.page-bar:after {
  content: " ";
  display: table;
}
.page-bar:after {
  clear: both;
}
.page-bar .page-breadcrumb {
  display: inline-block;
  float: left;
  padding: 15px;
  margin: 0;
  list-style: none;
}
.page-bar .page-breadcrumb > li {
  display: inline-block;
}
.page-bar .page-breadcrumb > li > a,
.page-bar .page-breadcrumb > li > span {
  color: #666;
  font-size: 14px;
  text-shadow: none;
}
.page-bar .page-breadcrumb > li > i {
  color: #999;
  font-size: 14px;
  text-shadow: none;
}
.page-bar .page-breadcrumb > li > i[class^="icon-"],
.page-bar .page-breadcrumb > li > i[class*="icon-"] {
  color: gray;
}
.page-bar .page-toolbar {
  display: inline-block;
  float: right;
  padding: 0;
  z-index: 999;
}

.page-bar .page-toolbar .btn-fit-height {
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 0;
}

.page-bar .page-toolbar .btn.default {
  background-color: #ddd;
}

/***
Footer
***/

.footer {
  padding: 10px 20px 5px 20px;
  font-size: 12px;
}

.footer:after,
.footer:before {
  content: "";
  display: table;
  line-height: 0;
}

.footer:after {
  clear: both;
}

.footer .footer-inner {
  float: left;
  display: inline-block;
}

.footer .footer-tools {
  float: right;
  display: inline-block;
}

.footer .footer-tools .go-top {
  display: block;
  text-decoration: none;
  cursor: pointer;
  margin-top: -4px;
  margin-right: 0px;
  margin-bottom: 0px;
  font-size: 16px;
  padding: 2px 6px 0px 6px;
  height: 25px;
  width: 25px;
  border-radius: 50%;
}

.footer .footer-tools .go-top i {
  font-size: 22px;
  margin-bottom: 7px;
}


/********************
 GENERAL UI ELEMENTS
*********************/

/***
Icon stuff
***/
i.icon, a.icon {
  color: #999;
  margin-right: 5px;
  font-weight: normal;
  font-size: 13px;
}

i.icon-black {
  color: #000 !important;
}

a.icon:hover {
  text-decoration: none;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  opacity: .4;
  filter:alpha(opacity=40);
}

a.icon.huge i{
  font-size: 16px !important;
}

i.big {
  font-size: 20px;
}

i.warning {
  color: #d12610;
}

i.critical {
  color: #37b7f3;
}

i.normal {
  color: #52e136;
}

/* input with left aligned icons */
.input-icon {
  position: relative;
}


.input-icon input {
   padding-left: 33px !important;
}
.input-icon input.requiredborder {
	padding-left: 10px !important;
}
.input-icon i {
  color: #ccc;
  display: block;
  position: absolute;
  margin: 11px 2px 4px 10px;
  width: 25px;
  height: 16px;
  font-size: 16px;
  text-align: center;
}

.input-icon.right input {
   /*padding-left: 12px !important;*/
   padding-right: 33px !important;
}

.input-icon.right i {
   right: 26px;;
   float: right;
}

.has-success .input-icon > i {
  color: #468847;
}

.has-warning .input-icon > i {
  color: #c09853;
}

.has-error .input-icon > i {
  color: #b94a48;
}

/***
Portlets
***/

.portlet  {
  clear: both;
  margin-top: 0px;
  margin-bottom: 25px;
  padding: 0px;
  -webkit-box-shadow1: 0 1px 4px rgba(0, 0, 0, 0.07);
          box-shadow1: 0 1px 4px rgba(0, 0, 0, 0.07);
  border: 1px solid #ddd;
  border-radius: 4px;
}

.portlet > .portlet-title {
  background-color: #eee;
  border-radius: 4px 4px 0 0;
  padding:10px 10px 2px 10px;
  height: 38px;
}

.portlet > .portlet-title:after,
.portlet > .portlet-title:before {
  content: "";
  display: table;
  line-height: 0;
}

.portlet > .portlet-title:after {
  clear: both;
}

.portlet > .portlet-title > .caption{
  color: #333;
  float: left;
  display: inline-block;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  margin-top: 1px;
}

.portlet > .portlet-title .bootstrap-switch {
  margin-top: -10px !important;
}

.portlet > .portlet-title > .caption > i {
  float: left;
  margin-top: 2px;
  display: inline-block !important;
  font-size: 13px;
  margin-right: 5px;
  color: #666;
}

.portlet > .portlet-title > .tools,
.portlet > .portlet-title > .actions
 {
  display: inline-block;
  padding: 0;
  margin: 0;
  margin-top: 3px;
  float: right;
}

.portlet > .portlet-title > .tools {
  margin-top: 0px;
}

.portlet > .portlet-title > .tools > a {
  display: inline-block;
  height: 16px;
  /*margin-left:5px;*/
}

.portlet > .portlet-title > .actions > .dropdown-menu i {
  color: #000 !important;
}

.portlet > .portlet-title > .tools > a.remove {
  margin-bottom: 2px;
  background-image:url(../img/portlet-remove-icon.png);
  background-repeat: no-repeat;
  width: 11px;
}

.portlet > .portlet-title > .tools > a.config {
  margin-bottom: 2px;
  background-image:url(../img/portlet-config-icon.png);
  background-repeat: no-repeat;
  width: 12px;
}

.portlet > .portlet-title > .tools > a.reload {
  margin-bottom: 2px;
  background-image:url(../img/portlet-reload-icon.png);
  width: 13px;
}

.portlet > .portlet-title > .tools > a.expand {
  margin-bottom: 2px;
  background : url(../img/portlet-expand-icon.png) no-repeat;
  width: 14px;
  content: "";
}

.portlet > .portlet-title > .tools > a.collapse {
  margin-bottom: 2px;
  background: url(../img/portlet-collapse-icon.png) no-repeat;
  width: 14px;
  content: "";
}

.portlet > .portlet-title > .tools > a:hover {
  text-decoration: none;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  opacity:.6;
  filter:'alpha(opacity=60)';
}

.portlet > .portlet-title > .actions > .btn-group {
  margin-top: -8px;
}

.portlet > .portlet-title > .actions > .btn {
  padding: 4px 10px;
  margin-top: -10px;
}

.portlet > .portlet-title > .actions > .btn-group > .btn {
  padding: 4px 10px;
  margin-top: -1px;
}

.portlet > .portlet-title > .actions > .btn.btn-sm {
  padding: 3px 8px;
  margin-top: -10px;
}

.portlet > .portlet-title > .actions > .btn-group > .btn-sm {
  padding: 3px 8px;
  margin-top: -1px;
}

.portlet > .portlet-title > .pagination.pagination-sm {
  float: right !important;
  display: inline-block !important;
  margin: 0px;
  margin-top: -6px;
}

.portlet > .portlet-body {
  clear: both;
  padding: 10px;
  background-color: #fff;
  border-radius: 0px 0px 4px 4px;
}

/* jQuery UI Draggable Portlets */
.portlet-sortable > .portlet-title {
  cursor: move;
}

.portlet-sortable-placeholder {
  border: 2px dashed #eee;
  border-radius: 4px;
  margin-bottom: 25px;
}

.portlet-sortable-empty {
  height: 45px;
  border: 0;
  background: none;
}

/***
Charts and statistics
***/
.chart, .pie, .bars {
  overflow: hidden;
  height: 300px;
}

/***
Statistic lists
***/
.item-list.table .percent {
  width: 30px;
  float: right;
  margin-right: 10px;
  margin-top: 3px;
}

.item-list.table .title {
  padding-top: -5px;
}

/***
Chart tooltips
***/
.chart-tooltip {
  clear: both;
  z-index: 100;
  background-color: #736e6e !important;
  padding: 5px !important;
  color: #fff;
}

.chart-tooltip .label {
  clear: both;
  display: block;
  margin-bottom: 2px;
}

/***
Mini chart containers
***/
.bar-chart {
  display: none
}

.line-chart {
  display: none
}

/***
Custom icon buttons
***/
.icon-btn {
  min-height: 130px;
  width: 130px;
  margin: 0px 20px 20px 0;
  border: 1px solid #ddd;
  padding: 30px 21px;
  background-color:#EEEEEE!important;
  background-image: none !important;
  filter:none !important;
  -webkit-box-shadow: none !important;
     -moz-box-shadow: none !important;
          box-shadow: none !important;
  display:inline-block !important;
  color: #646464 !important;
  text-shadow: none !important;
  text-align: center;
  cursor: pointer;
  position: relative;
  border-radius: 4px;
  -webkit-transition: all 0.3s ease !important;
  -moz-transition: all 0.3s ease !important;
  -ms-transition: all 0.3s ease !important;
  -o-transition: all 0.3s ease !important;
  transition: all 0.3s ease !important;
  height: auto;
  position: relative;
}

.icon-btn i {
  font-size: 40px;
  line-height: 1;
}

.ie8 .icon-btn:hover {
  filter: none !important;
}

.icon-btn:hover {
  text-decoration: none !important;
  border-color: #999 !important;
  color: #444 !important;
  text-shadow: 0 1px 0px rgba(255, 255, 255, 1) !important;
  -webkit-transition: all 0.3s ease !important;
  -moz-transition: all 0.3s ease !important;
  -ms-transition: all 0.3s ease !important;
  -o-transition: all 0.3s ease !important;
  transition: all 0.3s ease !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.icon-btn:hover .badge {
  -webkit-transition: all 0.3s ease !important;
  -moz-transition: all 0.3s ease !important;
  -ms-transition: all 0.3s ease !important;
  -o-transition: all 0.3s ease !important;
  transition: all 0.3s ease !important;
  -webkit-box-shadow: none !important;
       -moz-box-shadow: none !important;
            box-shadow: none !important;
}

.icon-btn div {
  margin-top: 20px;
  margin-bottom: 0px;
  color: #000;
  font-size: 15px;
  font-weight: 500;
  position: absolute;
  bottom: 13px;
  right: 5px;
  left: 5px;
  top: 55px;
  line-height: 20px;
}

.icon-btn .badge {
  position: absolute;
  font-family: 'Open Sans', sans-serif;
  font-size: 11px !important;
  font-weight: 300;
  top: -5px;
  right: -5px;
  padding: 3px 6px 3px 6px;
  color: white !important;
  text-shadow: none;
  border-width: 0;
  border-style: solid;
  -webkit-border-radius: 12px !important;
  -moz-border-radius: 12px !important;
  border-radius: 12px !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}


/* extended dropdowns */
.dropdown-menu.extended {
  padding: 0 0 4px 0;
  border-radius: 4px !important;
  min-width: 160px !important;
  max-width: 300px !important;
  width: 233px !important;
  background-color: #ffffff !important;
}

.dropdown-menu.extended:before,
.dropdown-menu.extended:after {
  border-bottom-color: #eee !important;
}

.dropdown-menu.extended li a{
  display: block;
  padding: 5px 10px !important;
  clear: both;
  font-weight: normal;
  line-height: 20px;
  white-space: normal !important;
}

.dropdown-menu.extended li i{
  margin-right: 3px;
}

.dropdown-menu.extended li a{
   font-size: 13px;
   padding: 10px !important;
   background-color: #ffffff;
}

.dropdown-menu.extended li a:hover {
  background-image: none;
  background-color: #f5f5f5;
  color: #000;
  filter:none;
}

.dropdown-menu.extended li p {
  border-radius: 4px 4px 0px 0px !important;
  padding: 10px;
  background-color: #eee;
  margin: 0px;
  font-size: 14px;
  font-weight: 300;
  color: #333;
}

.dropdown-menu.extended li a{
  padding: 7px 0 5px 0px;
  list-style: none;
  border-bottom: 1px solid #f4f4f4 !important;
  font-size: 12px;
  text-shadow: none;
}

.dropdown-menu.extended li:first-child a {
  border-top: none;
  border-bottom: 1px solid #f4f4f4 !important;
}

.dropdown-menu.extended li:last-child a {
  border-top: 1px solid white !important;
  border-bottom: 1px solid #f4f4f4 !important;
}


.dropdown-menu.extended li.external > a {
  font-size: 13px;
  font-weight: 400;
  border-bottom: 0 !important;
}


/* header notifications dropdowns */
.dropdown-menu .dropdown-menu-list.scroller {
  padding-right: 0 !important;
  padding-left: 0;
  list-style: none;
}

.dropdown-menu.notification li > a .time {
  font-size: 12px;
  font-weight: 600;
  text-align: right;
  font-style: italic;
}

.dropdown-menu.notification li > a > .label-icon {
  padding: 4px 2px 4px 5px;
}

.dropdown-menu.notification li > a > .label-icon > i {
  margin: 0;
  color: #fff;
}

/* header inbox dropdowns */
.dropdown-menu.inbox li > a .photo {
  float: left;
  padding-right: 6px;
}

.dropdown-menu.inbox li > a .photo > img {
  height: 40px;
  width: 40px;
}

.dropdown-menu.inbox li > a .subject {
  display: block;
}

.dropdown-menu.inbox li > a .subject .from {
  font-size: 14px;
  font-weight: 400;
  color: #02689b;
}

.dropdown-menu.inbox li > a .subject .time {
  font-size: 12px;
  font-weight: 600;
  font-style: italic;
  position: relative;
  float: right;
}

.dropdown-menu.inbox li > a .message {
  display: block !important;
  font-size: 12px;
}

/* header tasks */
.dropdown-menu.tasks .task {
  margin-bottom: 5px;
}

.dropdown-menu.tasks .task .desc {
  font-size: 13px;
  font-weight: 300;
}

.dropdown-menu.tasks .task .percent {
  font-size: 14px;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  float: right;
  display: inline-block;
}

.dropdown-menu.tasks .progress {
  display: block;
  height: 11px;
  margin: 0px;
}

/***
General list for item with image
***/
.item-list li .img {
  height: 50px;
  width: 50px;
  float: left;
  margin-top: 3px;
  margin-right: 5px;
}

.item-list {
  margin: 0px;
  list-style: none;
}

.item-list li {
  padding: 7px 0 5px 0px;
  list-style: none;
  border-top: 1px solid white;
  border-bottom: 1px solid #EBEBEB;
  font-size: 12px;
}

.item-list li:first-child {
  border-top: none;
  border-bottom: 1px solid #EBEBEB;
}

.item-list li:last-child {
  border-top: none;
  border-bottom: none;
}

.item-list li .label {
  margin-right: 5px;
}

.item-list.todo li .label {
  position: absolute;
  right: 80px;
}

.item-list.todo li .actions {
  position: absolute;
  right: 45px;
}

/***
Custom tables
***/
table.orderlist {
	border: 1px solid #ddd;
	font-size: 14px;
}
table.table tr th input[type=text]:focus,
table.table tr td input[type=text]:focus,
table.orderlist tbody tr td input[type=text]:focus {
    box-shadow: inset 2px 0px 3px #ddd;
}

table.orderlist thead tr th {
	background: #A8A8A8; color: #000; font-weight: bold;
}
table.orderlist thead tr th .page-toolbar {
	float: right;
}
table.orderlist tbody tr td {
	background: #f8f8f8;
	line-height: 16px;
}
table.orderlist tbody tr td .textbox, table.orderlist tfoot tr td .textbox {
	min-width: 100%;
	line-height: 36px;
	border: none;
	padding: 0 10px;
}
table.orderlist tbody tr td.order-nopadding, table.orderlist tfoot tr .order-nopadding,
table.orderlist tr td .tax-table td.order-nopadding {
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
  padding-left: 0px;
}
table.orderlist tbody tr td.order-nopadding1 {
	padding-top: 5px;
	padding-bottom: 0px;
	padding-right: 0px;
}
table.orderlist tr td .tax-table {
	border: 1px solid #ddd;
}
table.statusstock td {
  border-right: 1px solid #ddd;
}
table.orderlist tr td .tax-table thead tr th {
	background: none;
	border: none;
	padding: 10px;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}
table.orderlist tr td .tax-table td {
	padding: 5px 10px;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}
table.orderlist tr td input[type=text] {
	
}
/*29-02-2016*/
input:focus {
    outline:none !important;
}
textarea:focus {
    outline:none !important;
}
/*29-02-2016*/
table.orderlist tr td input[type=text]:focus {
  box-shadow: inset 2px 0px 3px #ddd;
}
.invetorty-tab { 
}
.table-toolbar {
  margin-bottom: 15px;
}

.table.table-full-width {
  width: 100% !important;
}

.table .m-btn {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 5px;
}

.table thead tr th {
  font-size: 14px;
  font-weight: 600;
}

.table-advance {
  margin-bottom: 10px !important;
}

.table-advance thead {
  color: #999;
}

.table-advance thead tr th{
  background-color: #DDD;
  font-size: 14px;
  font-weight: 400;
  color: #666;
}
.page-content .table-advance tr td .textbox{
	width: 100%;
}

.table-advance div.success,
.table-advance div.info,
.table-advance div.important,
.table-advance div.warning,
.table-advance div.danger {
  position: absolute;
  margin-top:-5px;
  float: left;
  width: 2px;
  height: 30px;
  margin-right: 20px !important;
}

.table-advance tr td {
  border-left-width: 0px;
}
.table-advance tr td:first-child {
  border-left-width: 1px !important;
}

.table-advance tr td.highlight:first-child a {
  margin-left: 15px;
}

.table-advance td.highlight div.success {
  border-left: 2px solid #66ee66;
}

.table-advance td.highlight div.info {
  border-left: 2px solid #87ceeb;
}

.table-advance td.highlight div.important {
  border-left: 2px solid #f02c71;
}

.table-advance td.highlight div.warning {
  border-left: 2px solid #fdbb39;
}

.table-advance td.highlight div.danger {
  border-left: 2px solid #e23e29;
}


/***
Star rating
***/
.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  font-size: 30px;
}

.rating span.star {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
}

.rating span.star:hover {
  cursor: pointer;
}

.rating span.star:before {
  content: "\f006";
  padding-right: 5px;
  color: #999999;
}

.rating span.star:hover:before,
.rating span.star:hover ~ span.star:before {
  content: "\f005";
  color: #e3cf7a;
}


/***
Item block with details shown on hover
***/
.item {
  overflow: hidden;
  display: block;
  margin-bottom: 20px;
}

.item .details {
  width: 100%;
  display: none;
  background-color: #000;
  color: #fff !important;
  padding: 5px;
  text-align: center;
  position: relative;
  bottom:30px;
  margin-bottom:-30px;
  overflow: hidden;
  z-index: 6;
}

.item:hover .details {
  display: block;
  opacity: 0.7;
  filter: alpha(opacity = 70);
}

.item:hover .zoom-icon{
  opacity:0.5;
  filter: alpha(opacity = 50);
}

/***
Zoom icon overlay on images
***/
.zoom {
  cursor: pointer;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 5;
}

.zoom .zoom-icon {
  background-image:url("../img/overlay-icon.png");
  background-color: #222;
  background-repeat: no-repeat;
  background-position: 50%;
  position: absolute;
  width: inherit;
  height: inherit;
  opacity: 0;
  filter: alpha(opacity = 0);
  z-index: 6;
  top:0;
}

/***
Chats
***/
.chats {
  margin:0;
  padding: 0;
  margin-top: -15px;
  margin-right: 10px;
}

.chats li {
  list-style: none;
  padding: 5px 0;
  margin: 10px auto;
  font-size: 12px;
}

.chats li img.avatar {
  height: 45px;
  width: 45px;
  -webkit-border-radius: 50% !important;
     -moz-border-radius: 50% !important;
          border-radius: 50% !important;
}

.chats li.in img.avatar {
  float: left;
  margin-right: 10px;
}

.chats li .name {
  color:#3590c1;
  font-size: 13px;
  font-weight: 400;
}

.chats li .datetime {
  color:#333;
  font-size: 13px;
  font-weight: 400;
}

.chats li.out img.avatar {
  float: right;
  margin-left: 10px;
}

.chats li .message {
  display: block;
  padding: 5px;
  position: relative;
}

.chats li.in .message {
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  text-align: left;
  border: 1px solid #ddd;
  margin-left: 65px;
  background: #fafafa
}

.chats li.in .message .arrow {
  display: block;
  position: absolute;
  top: 5px;
  left: -8px;
  width: 0;
  height: 0;

  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid #ddd;
}

.chats li.out .message .arrow {
  display: block;
  position: absolute;
  top: 5px;
  right: -8px;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid #ddd;
}

.chats li.out .message {
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  margin-right: 65px;
  text-align: right;
}

.chats li.out .name,
.chats li.out .datetime  {
  text-align: right;
}

.chats li .message .body {
  display: block;
}

.chat-form {
  margin-top: 15px;
  padding: 10px;
  background-color: #e9eff3;
  overflow: hidden;
  clear: both;
}

.chat-form .input-cont {
  margin-right: 40px;
}

.chat-form .input-cont .form-control {
  width: 100% !important;
  margin-bottom: 0px;
}

.chat-form .input-cont input{
  border: 1px solid #ddd;
  width: 100%  !important;
  margin-top: 0;
}

.chat-form .input-cont input {
  background-color: #fff !important;
}

.chat-form .input-cont input:focus{
  border: 1px solid #4b8df9 !important;
}

.chat-form .btn-cont {
  margin-top: -42px;
  position: relative;
  float: right;
  width:44px;
}

.chat-form .btn-cont .arrow {
  position: absolute;
  top: 17px;
  right: 43px;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid #428bca;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.chat-form .btn-cont:hover .arrow {
  border-right-color: #0362fd;
}

.chat-form .btn-cont:hover .btn {
  background-color: #0362fd;
}

.chat-form .btn-cont .btn {
  border-radius: 0px 4px 4px 0px;
  margin-top: 8px;
}

/***
System feeds
***/
.feeds {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.feeds li {
  background-color: #fafafa;
  margin-bottom: 7px;
}

.feeds li:before,
.feeds li:after {
  display: table;
  line-height: 0;
  content: "";
}

.feeds li:after {
  clear: both;
}

.feeds li:last-child {
  margin-bottom: 0px;
}

.feeds .col1 {
  float:left;
  width:100%;
  clear: both;
}

.feeds .col2 {
  float:left;
  width:75px;
  margin-left:-75px;
}

.feeds .col1 .cont {
  float:left;
  margin-right:75px;
  overflow:hidden;
}

.feeds .col1 .cont  .cont-col1 {
  float:left;
  margin-right:-100%;
}

.feeds .col1 .cont  .cont-col1 .label {
  display: inline-block;
  padding: 5px 4px 6px 5px;
  vertical-align: middle;
  text-align: center;
}
.feeds .col1 .cont  .cont-col1 .label > i {
  text-align: center;
  font-size: 14px;
}

.feeds .col1 .cont .cont-col2 {
  float:left;
  width:100%;
}

.feeds .col1 .cont .cont-col2 .desc {
  margin-left:35px;
  padding-top: 4px;
  padding-bottom: 5px;
  overflow:hidden;
}

.feeds .col2 .date {
  padding: 4px 9px 5px 4px;
  text-align: right;
  font-style: italic;
  color:#c1cbd0;
}

/***
Users
***/
.user-info {
  margin-bottom: 10px !important;
}

.user-info img {
  float: left;
  margin-right: 5px;
}

.user-info .details {
  display: inline-block;
}

.user-info .label {
  font-weight: 300;
  font-size: 11px;
}

/***
Accordions
***/
.accordion-heading {
  background:#eee;
}

.accordion-heading a {
  text-decoration:none;
}

.accordion-heading a:hover {
  text-decoration:none;
}

/***
Vertical inline menu
***/
.ver-inline-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.ver-inline-menu li {
  position:relative;
  margin-bottom:1px;
}

.ver-inline-menu li i {
  width: 37px;
  height: 37px;
  display: inline-block;
  color:#b9cbd5;
  font-size:15px;
  padding:12px 10px 10px 8px;
  margin:0 8px 0 0;
  text-align: center;
  background:#e0eaf0 !important;
}

.ver-inline-menu li a {
  font-size: 13px;
  color:#557386;
  display:block;
  background:#f0f6fa;
  border-left:solid 2px #e0eaf0;
  border-radius: 4px;
}

.ver-inline-menu li.active a,
.ver-inline-menu li:hover a {
  font-size: 13px;
}

.ver-inline-menu li.active a,
.ver-inline-menu li:hover a  {
  border-left:solid 2px #0c91e5;
}

.ver-inline-menu li.active a,
.ver-inline-menu li:hover a,
.ver-inline-menu li.active i,
.ver-inline-menu li:hover i {
  color:#fff;
  background:#169ef4;
  text-decoration:none;
}

.ver-inline-menu li.active i,
.ver-inline-menu li:hover i {
  background:#0c91e5 !important;
}

.ver-inline-menu li.active:after {
  content: '';
  display: inline-block;
  border-bottom: 6px solid transparent;
  border-top: 6px solid transparent;
  border-left: 6px solid #169ef4;
  position: absolute;
  top: 12px;
  right: -5px;
}

/***
Custom tabs
***/

.tabbable-custom {
  margin-bottom: 15px;
  padding: 0px;
  overflow: hidden;
}

.tabbable-custom > .nav-tabs {
  border: none;
  margin: 0px;
}

.tabbable-custom > .tab-content {
   background-color: #fff;
   border: 1px solid #ddd;
   -webkit-border-radius: 0;
   -moz-border-radius: 0;
   border-radius: 2px;
   padding: 10px;
}


/***
Custom portlet tabs
***/
.portlet-tabs > .nav-tabs {
    position: relative;
    top: -41px;
    margin-right: 10px;
    overflow: hidden;
}

.portlet-tabs > .nav-tabs > li {
    float: right;
}

.portlet-tabs > .nav-tabs {
    border-bottom: none;
}

.portlet-tabs > .nav-tabs > li > a {
  padding-top: 8px;
  padding-bottom: 10px;
  line-height: 16px;
  margin-top: 6px;
  margin-left: 0px;
  margin-right: 0px;
  border-left: 0;
  border-right: 0;
     -webkit-border-radius: 4px 4px 0 0;
        -moz-border-radius: 4px 4px 0 0;
             border-radius: 4px 4px 0 0;
}

.portlet-tabs > .nav-tabs > li:last-child > a {
  border-right:0;
}

.portlet-tabs > .nav-tabs > li {
  margin-left: 1px;
}

.portlet-tabs > .nav-tabs > li.active {
  color: #333;
  border-top-color: transparent;
}

.portlet-tabs > .nav-tabs > li.active > a {
  margin-bottom: 0px;
  border-bottom: 0;
  margin-left: 0px;
  margin-right: 0px;
  border-left: 0;
  border-right: 0;
  background-color: none !important;
  border-top-color:transparent !important;
}

.portlet-tabs > .nav-tabs > li > a:hover {
  color: #333;
  margin-bottom: 0;
  border-bottom-color: transparent;
  margin-left: 0;
  margin-right: 0;
  border-left: 0;
  border-right: 0;
  background-color: none !important;
  border-top-color:transparent;
  background-color: #fff;
}

.portlet-tabs > .nav-tabs > .active > a  {
  color: #555555;
  cursor: default;
  background-color: #fff;
}

.portlet-tabs > .nav-tabs > .active > a:hover {
  background-color: #fff !important;
}

.portlet-tabs > .tab-content {
  padding: 10px !important;
  margin: 0px;
  margin-top: -50px !important;
}

.portlet.tabbable .portlet-body {
  padding: 0px;
}

.tab-pane > p:last-child {
  margin-bottom: 0px;
}

/* general purpose block with css3 gradient background */
.stat-block {
  background-color: #F6F6F6;
  border: 1px solid #dedede;
 -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  line-height: 18px;
  margin: 0 0 20px 0;
  padding: 10px;
}


/***
Dashboard container
***/
#dashboard {
  overflow: hidden;
}

/***
Dashboard stats
***/

.stats-overview-cont {
  padding-top:0px;
  margin-bottom: 15px;
}
.stats-overview {
  clear: both;
  padding: 10px 10px 0px 10px;
  margin: 0px;
  margin-bottom: 5px;
}

.stats-overview .display {
  margin-right: 5px;
  float: left;
}

.stats-overview .details {
  color:#888;
}

.stats-overview .details .title {
  color: #777;
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 3px;
}
.stats-overview .details .title i {
  color: #999;
  margin-right: 2px;
}
.stats-overview .details .numbers {
  color: #777;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 6px;
}
.stats-overview .progress {
  height: 10px;
  margin-bottom:10px !important;
  background: #e6e6e6;
}


/* charts & stats */
.chart, .pie, .bars {
  overflow: hidden;
  height: 300px;
}

.stat {
  margin: 0px;
  padding: 0px;
}

.item-list.table .percent {
  width: 30px;
  float: right;
  margin-right: 10px;
  margin-top: 3px;
}

.item-list.table .title {
  padding-top: -5px;
}

.stat .title {
  margin-left: 10px;
  margin-right: 10px;
  font-size1: 13px;
}

.stat.good .percent  {
  color: #52e136;
  font-size: 16px;
  font-weight: bold;
}

.stat.bad .percent {
  color: #d12610;
  font-size: 16px;
  font-weight: bold;
 }

.stat.ok .percent {
  color: #37b7f3;
  font-size: 16px;
  font-weight: bold;
 }

 /* Circle stats */
.circle-stat .knobify {
  border: 0 !important;
  padding: 0 !important;
  font-size: 18px !important;
  font-weight: 300 !important;
  width: 46px !important;
  margin-left: -72px !important;
  background: #F6F6F6 !important;
}

.ie8 .knobify {
  display: none;
}

.circle-stats {
  position: relative;
  margin: 10px 0px 10px 0px;
}

.circle-stat {
 padding:2px;
}

.circle-stat canvas {
}
.circle-stat:before,
.circle-stat:after {
  display: table;
  line-height: 0;
  content: "";
}
.circle-stat:after {
  clear: both;
}

.circle-stat .visual {
  display: block;
  float: left;
}

.circle-stat .details {
  display: block;
  float: left;
  margin-left: 5px;
  padding-top: 7px;
}

.circle-stat .details .title {
  margin: 10px 0px 5px 0px !important;
  padding: 0px !important;
  font-size: 16px;
  color: #777;
}

.ie8 .circle-stat .details .title {
  margin-top:5px !important;
}
.ie8 .circle-stat .details {
  padding-top: 0px !important;
  margin-bottom: 5px !important;
}

.circle-stat .details .title i {
  margin-top:2px !important;
  color: #52e136;
  font-size: 16px;
}

.circle-stat .details .title i.down {
  color: #b63625;
}

.circle-stat .details .number {
  margin: 0px !important;
  margin-bottom: 7px !important;
  font-size: 24px;
  padding: 0px;
  font-weight: 300;
  text-shadow: 0 1px rgba(244, 244, 244, 0.85);
  color: #999;
}

@media (max-width: 1024px) {

  .circle-stat .details .title {
    font-size: 14px;
  }

  .circle-stat .details .title i {
    font-size: 12px;
  }

  .circle-stat .details .number {
    font-size: 16px;
  }

  .circle-stat .details {
    margin-bottom: 7px;
    padding-top: 0;
  }

}

/***
Theme Panel
***/

.theme-panel {
  width: 320px;
  margin-top: -20px;
  margin-right: 1px;
  z-index: 999;
  float: right;
  position:relative;
}

.theme-panel > .toggler {
  top:5px;
  right:2px;
  padding:11px 12px 9px 12px;
  cursor:pointer;
  position:absolute;
  z-index: 1;
  background:#c9c9c9;
  border-radius: 4px 4px 4px 4px;
}

.theme-panel > .toggler.open {
  background:#fff;
}

.theme-panel > .toggler > i {
  font-size: 18px;
}

.theme-panel > .toggler:hover {
  background-color: #c1c1c1 !important;
}

.theme-panel > .toggler-close:hover {
  background-color:#222 !important;
}

.theme-panel > .theme-options {
  top:3px;
  right:0px;
  display:none;
  position:absolute;
  background-color: #fff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.theme-panel > .theme-options > .theme-option {
  color:#333;
  padding: 15px;
  border-top:1px solid #eee;
  margin-top: 0px;
  margin-bottom: 0px;
}

.theme-panel > .theme-options > .theme-option.theme-colors {
  border-top: 0;
}

.theme-panel > .theme-options > .theme-option > span {
  display: inline-block;
  width: 120px;
  font-size: 14px;
}


.theme-panel > .theme-options > .theme-option.theme-colors > span {
  display: block;
  width: auto;
}

.theme-panel > .theme-options > .theme-option > select.form-control {
  display: inline;
  width: 100px;
  text-transform: lowercase;
}

.theme-panel > .theme-options > .theme-option.theme-colors > ul {
  list-style:none;
  padding: 0;
  display: block;
  margin-bottom: 1px !important;
  margin-top: 10px;
}

.theme-panel > .theme-options > .theme-option.theme-colors > ul > li {
  width:39px;
  height:39px;
  margin:0 6px;
  cursor:pointer;
  list-style:none;
  float: left;
  border-radius: 2px;
}

.theme-panel > .theme-options > .theme-option.theme-colors > ul > li:first-child {
  margin-left: 0;
}

.theme-panel > .theme-options > .theme-option.theme-colors > ul > li:hover,
.theme-panel > .theme-options > .theme-option.theme-colors > ul > li.current {
  border:solid 2px #999;
}

.theme-panel > .theme-options > .theme-option.theme-colors > ul > li.color-black {
  background:#333438;
}

.theme-panel > .theme-options > .theme-option.theme-colors > ul > li.color-grey {
  background:#908f8f;
}

.theme-panel > .theme-options > .theme-option.theme-colors > ul > li.color-blue {
  background:#124f94;
}

.theme-panel > .theme-options > .theme-option.theme-colors > ul > li.color-red {
  background:#5a3128;
}

.theme-panel > .theme-options > .theme-option.theme-colors > ul > li.color-light {
  background:#e1e1e1;
}

/***
Top bar menu
***/

/* enable arrow for dropdown menu */
.header .nav > li > .dropdown-menu:before {
  position: absolute;
  top: -7px;
  right: 9px;
  display: inline-block !important;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.header .nav > li > .dropdown-menu:after {
  position: absolute;
  top: -6px;
  right: 10px;
  display: inline-block !important;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #fff;
  border-left: 6px solid transparent;
  content: '';
}

/***
Top News Blocks(new in v1.2.2)
***/
.top-news {
  color: #fff;
  margin: 8px 0;
}

.top-news a,
.top-news em,
.top-news span {
  display: block;
  text-align: left;
}

.top-news a {
  padding: 10px;
  position: relative;
  margin-bottom: 10px;
}

.top-news a .top-news-icon {
  right: 8px;
  bottom: 15px;
  opacity:0.3;
  font-size: 35px;
  position: absolute;
  filter: alpha(opacity=30); /*For IE8*/
}

.top-news em {
  margin-bottom: 0;
  font-style: normal;
}

.top-news span {
  font-size: 18px;
  margin-bottom: 5px;
}

/***
Block Images(new in v1.2.2)
***/
.blog-images {
  margin-bottom: 0;
}

.blog-images li {
  padding: 0;
  margin: 0;
  display: inline;
}

.blog-images li a:hover {
  text-decoration: none;
}

.blog-images li img {
  border-radius: 2px;
  width: 50px;
  height: 50px;
  opacity: 0.6;
  margin: 0 2px 8px;
}

.blog-images li img:hover {
  opacity: 1;
  box-shadow: 0 0 0 4px #72c02c;
  transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
}

/*Sidebar Tags*/
ul.sidebar-tags a {
  color: #555;
  font-size:12px;
  padding:3px 5px;
  background:#eee;
  margin:0 2px 5px 0;
  display:inline-block;
  border-radius: 2px;
}

ul.sidebar-tags a:hover,
ul.sidebar-tags a:hover i {
  background: #ddd;
  text-decoration:none;
  -webkit-transition:all 0.3s ease-in-out;
  -moz-transition:all 0.3s ease-in-out;
  -o-transition:all 0.3s ease-in-out;
  transition:all 0.3s ease-in-out;
}

ul.sidebar-tags a i {
  color:#777;
}

ul.sidebar-tags li {
  padding: 0;
}

/***
Social Icons(new in v1.2.2)
***/
.social-icons {
  padding: 0;
  margin:0;
}

.social-icons:after,
.social-icons:before {
  content: "";
  display: table;
}

.social-icons:after {
  clear: both;
}

.social-icons li {
  float:left;
  display:inline;
  list-style:none;
  margin-right:5px;
  margin-bottom:5px;
  text-indent:-9999px;
}
.social-icons li a, a.social-icon {
  width:28px;
  height:28px;
  display:block;
  border-radius: 2px;
  background-position:0 0;
  background-repeat:no-repeat;
  transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}
.social-icons li:hover a {
  background-position:0 -38px;
}

.social-icons-color li a {
  opacity: 0.7;
  background-position:0 -38px !important;
}

.social-icons-color li a:hover {
  opacity: 1;
}

.social-icons .amazon {background: url(../img/social/amazon.png) no-repeat;}
.social-icons .behance {background: url(../img/social/behance.png) no-repeat;}
.social-icons .blogger {background: url(../img/social/blogger.png) no-repeat;}
.social-icons .deviantart {background: url(../img/social/deviantart.png) no-repeat;}
.social-icons .dribbble {background: url(../img/social/dribbble.png) no-repeat;}
.social-icons .dropbox {background: url(../img/social/dropbox.png) no-repeat;}
.social-icons .evernote {background: url(../img/social/evernote.png) no-repeat;}
.social-icons .facebook {background: url(../img/social/facebook.png) no-repeat;}
.social-icons .forrst {background: url(../img/social/forrst.png) no-repeat;}
.social-icons .github {background: url(../img/social/github.png) no-repeat;}
.social-icons .googleplus {background: url(../img/social/googleplus.png) no-repeat;}
.social-icons .jolicloud {background: url(../img/social/jolicloud.png) no-repeat;}
.social-icons .last-fm {background: url(../img/social/last-fm.png) no-repeat;}
.social-icons .linkedin {background: url(../img/social/linkedin.png) no-repeat;}
.social-icons .picasa {background: url(../img/social/picasa.png) no-repeat;}
.social-icons .pintrest {background: url(../img/social/pintrest.png) no-repeat;}
.social-icons .rss {background: url(../img/social/rss.png) no-repeat;}
.social-icons .skype {background: url(../img/social/skype.png) no-repeat;}
.social-icons .spotify {background: url(../img/social/spotify.png) no-repeat;}
.social-icons .stumbleupon {background: url(../img/social/stumbleupon.png) no-repeat;}
.social-icons .tumblr {background: url(../img/social/tumblr.png) no-repeat;}
.social-icons .twitter {background: url(../img/social/twitter.png) no-repeat;}
.social-icons .vimeo {background: url(../img/social/vimeo.png) no-repeat;}
.social-icons .wordpress {background: url(../img/social/wordpress.png) no-repeat;}
.social-icons .xing {background: url(../img/social/xing.png) no-repeat;}
.social-icons .yahoo {background: url(../img/social/yahoo.png) no-repeat;}
.social-icons .youtube {background: url(../img/social/youtube.png) no-repeat;}
.social-icons .vk {background: url(../img/social/vk.png) no-repeat;}
.social-icons .instagram {background: url(../img/social/instagram.png) no-repeat;}
.social-icons .reddit {background: url(../img/social/reddit.png) no-repeat;}

/***
Inline Social Icons
***/
.social-icon {
  display:inline-block !important;
  width:28px;
  height:28px;
  border-radius: 2px;
  background-position:0 0;
  background-repeat:no-repeat;
  transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

.social-icon.amazon {background: url(../img/social/amazon.png) no-repeat;}
.social-icon.behance {background: url(../img/social/behance.png) no-repeat;}
.social-icon.blogger {background: url(../img/social/blogger.png) no-repeat;}
.social-icon.deviantart {background: url(../img/social/deviantart.png) no-repeat;}
.social-icon.dribbble {background: url(../img/social/dribbble.png) no-repeat;}
.social-icon.dropbox {background: url(../img/social/dropbox.png) no-repeat;}
.social-icon.evernote {background: url(../img/social/evernote.png) no-repeat;}
.social-icon.facebook {background: url(../img/social/facebook.png) no-repeat;}
.social-icon.forrst {background: url(../img/social/forrst.png) no-repeat;}
.social-icon.github {background: url(../img/social/github.png) no-repeat;}
.social-icon.googleplus {background: url(../img/social/googleplus.png) no-repeat;}
.social-icon.jolicloud {background: url(../img/social/jolicloud.png) no-repeat;}
.social-icon.last-fm {background: url(../img/social/last-fm.png) no-repeat;}
.social-icon.linkedin {background: url(../img/social/linkedin.png) no-repeat;}
.social-icon.picasa {background: url(../img/social/picasa.png) no-repeat;}
.social-icon.pintrest {background: url(../img/social/pintrest.png) no-repeat;}
.social-icon.rss {background: url(../img/social/rss.png) no-repeat;}
.social-icon.skype {background: url(../img/social/skype.png) no-repeat;}
.social-icon.spotify {background: url(../img/social/spotify.png) no-repeat;}
.social-icon.stumbleupon {background: url(../img/social/stumbleupon.png) no-repeat;}
.social-icon.tumblr {background: url(../img/social/tumblr.png) no-repeat;}
.social-icon.twitter {background: url(../img/social/twitter.png) no-repeat;}
.social-icon.vimeo {background: url(../img/social/vimeo.png) no-repeat;}
.social-icon.wordpress {background: url(../img/social/wordpress.png) no-repeat;}
.social-icon.xing {background: url(../img/social/xing.png) no-repeat;}
.social-icon.yahoo {background: url(../img/social/yahoo.png) no-repeat;}
.social-icon.youtube {background: url(../img/social/youtube.png) no-repeat;}
.social-icon.vk {background: url(../img/social/vk.png) no-repeat;}
.social-icon.instagram {background: url(../img/social/instagram.png) no-repeat;}
.social-icon.reddit {background: url(../img/social/reddit.png) no-repeat;}

.social-icon:hover {
  background-position:0 -38px;
}

.social-icon-color {
  opacity: 0.7;
  background-position:0 -38px !important;
}

.social-icon-color:hover {
  opacity: 1;
}


/***
Notes
***/

/* Common styles for all types */
.note {
  margin: 0 0 20px 0;
  padding: 15px 30px 15px 15px;
  border-left: 5px solid #eee;
  border-radius: 0px 4px 4px 0;
}

.note h1,
.note h2,
.note h3,
.note h4 {
  margin-top: 0;
}

.note p:last-child {
  margin-bottom: 0;
}
.note code,
.note .highlight {
  background-color: #fff;
}

/* Variations */
.note-danger {
  background-color: #FAEAE6;
  border-color: #ed4e2a;
}

.note-warning {
  background-color: #FCF3E1;
  border-color: #fcb322;
}

.note-info {
  background-color: #E8F6FC;
  border-color: #57b5e3;
}

.note-success {
  background-color: #EBFCEE;
  border-color: #3cc051;
}

/***
Demo Utils
***/
.scrollspy-example {
  position: relative;
  height: 200px;
  margin-top: 10px;
  overflow: auto;
}

.util-btn-margin-bottom-5 .btn {
  margin-bottom: 5px !important;
}

.util-btn-group-margin-bottom-5 .btn-group {
  margin-bottom: 5px !important;
}

.fontawesome-demo i {
  font-size: 18px;
}

.fontawesome-demo li {
  padding-top: 5px;
  padding-bottom: 5px;
}

.glyphicons-demo ul {
  padding-left: 0;
  padding-bottom: 1px;
  margin-bottom: 20px;
  list-style: none;
  overflow: hidden;
}

.bs-glyphicons {
  padding-left: 0;
  padding-bottom: 1px;
  margin-bottom: 20px;
  list-style: none;
  overflow: hidden;
}
.glyphicons-demo ul li {
  float: left;
  width: 25%;
  height: 115px;
  padding: 10px;
  margin: 0 -1px -1px 0;
  font-size: 12px;
  line-height: 1.4;
  text-align: center;
  border: 1px solid #ddd;
}

.glyphicons-demo .glyphicon {
  display: block;
  margin: 5px auto 10px;
  font-size: 24px;
}
.glyphicons-demo ul li:hover {
  background-color: rgba(86,61,124,.1);
}

@media (min-width: 768px) {
  .glyphicons-demo ul li {
    width: 12.5%;
  }
}


/***
Forms
****/

input.placeholder,
textarea.placeholder {
  color: #aaa !important;
}

.help-block {
 margin-top: 5px;
 margin-bottom: 5px;
}

.form-inline input {
  margin-bottom: 0px !important;
}

.control-label {
  margin-top: 2px;
}

.form-control-static {
  font-size: 14px;
  padding-top: 7px;
}

.control-label .required {
  color: #e02222;
  font-size: 12px;
  padding-left: 2px;
}

.switch-wrapper {
   display: inline-block;
}

.form {
  padding: 0 !important;
}

.form-body {
  padding: 10px;
}

.form-actions {
  padding: 20px 10px;
  margin-top: 20px;
  background-color: #f5f5f5;
  border-top: 1px solid #e5e5e5;
  border-radius: 0 0 4px 4px;
  *zoom: 1;
}

.form-actions.nobg {
  background-color: transparent;
}

.form-actions.top {
  margin-top: 0;
  margin-bottom: 0px;
  border-top: 0;
  border-bottom: 1px solid #e5e5e5;
  border-radius: 0;
}

.form-actions.fluid {
  padding: 20px 0;
}

.form-actions.fluid > [class^="col-"] {
  padding-left: 13px;
}

.form-actions:before,
.form-actions:after {
  display: table;
  line-height: 0;
  content: "";
}

.form-actions:after {
  clear: both;
}

.form-section {
  margin: 30px 0px 25px 0px;
  padding-bottom: 5px;
  border-bottom: 1px solid #eee;
}

.form .form-section:first-child {
  margin-top: 5px;
}

.help-inline {
  font-size: 13px;
  color: #737373;
  display: inline-block;
  padding: 5px;
}

/* left, right aligned form actions */
.form-actions.right {
  padding-left: 0;
  padding-right: 10px;
  text-align: right;
}

.form-actions.left {
  padding-left: 10px;
  padding-right: 0;
  text-align: left;
}

/* Checkboxes */
.form-group .checkbox {
  padding-left: 0;
}

.checkbox-list > label {
  display: block;
}

.checkbox-list > label.checkbox-inline {
  display: inline-block;
}

.checkbox-list > label.checkbox-inline:first-child {
  padding-left: 0;
}

/* Radios */

.radio-list > label {
  display: block;
}

.radio-list > label.radio-inline {
  display: inline-block;
}

.radio-list > label.radio-inline:first-child {
  padding-left: 0;
}

.form-horizontal .radio-list .radio {
  padding-top: 1px;
}

/* Rows seperated form layout */
.form-row-seperated .form-group {
  margin: 0;
  border-bottom: 1px solid #efefef;
  padding: 10px 10px 10px 0px;
}

.form-row-seperated .form-group.last {
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 10px;
}

.form-row-seperated .form-actions {
  margin-top: 0;
}

.form-row-seperated .form-body {
  padding: 0;
  margin-top: 0;
}

.form-row-seperated .help-block {
  margin-bottom: 0;
}

/* form bordered */
.form-bordered .form-body {
  margin: 0;
  padding: 0;
}

.form-bordered .form-actions {
  margin-top: 0;
}

.form-bordered .form-group {
    margin: 0;
    border-bottom: 1px solid #efefef;
}

.form-bordered .form-group.last {
    border-bottom: 0;
}

.form-bordered .help-block {
  margin-bottom: 0;
}

.form-bordered .control-label {
  padding-top: 16px;
}

.form-bordered .form-group > div {
  padding: 10px;
  border-left: 1px solid #efefef;
}

.form-bordered .form-actions.fluid > .row > div {
  padding-left: 10px;
}

.form-horizontal.form-bordered.form-row-stripped .form-group:nth-child(even) {
  background-color: #fcfcfc;
}

.form-horizontal.form-bordered.form-label-stripped .form-group:nth-child(even) {
  background-color: #fcfcfc;
}

.form-horizontal.form-bordered.form-row-stripped .form-control {
  background: #fff !important;
}

.form-horizontal.form-bordered.form-label-stripped .form-group:nth-child(even) > div {
  background-color: #ffffff;
}

/***
Bordered form layout
***/

.form-bordered .form-control {
  margin: 0;
}


/***
Disabled Menu Link
***/
/* Disabled Navigation Link */
.disabled-link .disable-target {
  opacity: 0.5 !important;
  filter: alpha(opacity=50) !important;
}
.disabled-link:hover {
  cursor: not-allowed !important;
}

/***
Responsive & Scrollable Tables
***/

.table-scrollable {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  border: 1px solid #dddddd;
  margin: 10px 0 !important;
}

.table-scrollable > .table {
  width: 100% !important;
  margin: 0 !important;
  margin-bottom: 0;
  background-color: #fff;
}

.table-scrollable > .table > thead > tr > th,
.table-scrollable > .table > tbody > tr > th,
.table-scrollable > .table > tfoot > tr > th,
.table-scrollable > .table > thead > tr > td,
.table-scrollable > .table > tbody > tr > td,
.table-scrollable > .table > tfoot > tr > td {
  white-space: nowrap;
}

.table-scrollable > .table-bordered {
  border: 0;
}

.table-scrollable > .table-bordered > thead > tr > th:first-child,
.table-scrollable > .table-bordered > tbody > tr > th:first-child,
.table-scrollable > .table-bordered > tfoot > tr > th:first-child,
.table-scrollable > .table-bordered > thead > tr > td:first-child,
.table-scrollable > .table-bordered > tbody > tr > td:first-child,
.table-scrollable > .table-bordered > tfoot > tr > td:first-child {
  border-left: 0;
}

.table-scrollable > .table-bordered > thead > tr > th:last-child,
.table-scrollable > .table-bordered > tbody > tr > th:last-child,
.table-scrollable > .table-bordered > tfoot > tr > th:last-child,
.table-scrollable > .table-bordered > thead > tr > td:last-child,
.table-scrollable > .table-bordered > tbody > tr > td:last-child,
.table-scrollable > .table-bordered > tfoot > tr > td:last-child {
  border-right: 0;
}

.table-scrollable > .table-bordered > thead > tr:last-child > th,
.table-scrollable > .table-bordered > tbody > tr:last-child > th,
.table-scrollable > .table-bordered > tfoot > tr:last-child > th,
.table-scrollable > .table-bordered > thead > tr:last-child > td,
.table-scrollable > .table-bordered > tbody > tr:last-child > td,
.table-scrollable > .table-bordered > tfoot > tr:last-child > td {
  border-bottom: 0;
}

/***
Responsive Flip Scroll Tables
***/

.flip-scroll table { width: 100%; }

@media only screen and (max-width: 800px) {

  .flip-scroll .flip-content:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
  .flip-scroll * html .flip-content { zoom: 1; }
  .flip-scroll *:first-child+html .flip-content { zoom: 1; }

  .flip-scroll table { width: 100%; border-collapse: collapse; border-spacing: 0; }

  .flip-scroll th,
  .flip-scroll td { margin: 0; vertical-align: top; }
  .flip-scroll th {
    text-align: left;
    border: 0 !important;
    border-bottom: 1px solid #ddd !important;
    border-right: 1px solid #ddd !important;
    font-size: 13px !important;
    padding: 5px;
    width: auto !important;
  }

  .flip-scroll table { display: block; position: relative; width: 100%; }
  .flip-scroll thead {
    display: block;
    float: left;
  }
  .flip-scroll tbody {
    display: block;
    width: auto;
    position: relative;
    overflow-x: auto;
    white-space: nowrap;
  }
  .flip-scroll thead tr { display: block; border: !important;  }
  .flip-scroll th { display: block; text-align: right; }
  .flip-scroll tbody tr { display: inline-block; vertical-align: top; margin-left: -5px; }
  .flip-scroll td { display: block; min-height: 1.25em; text-align: left; border-top: 0 !important; border-left: 0 !important; border-right: 0 !important}
  .flip-scroll td:first-child {}


  /* sort out borders */

  .flip-scroll th { border-bottom: 0; border-left: 0; }
  .flip-scroll td { border-left: 0; border-right: 0; border-bottom: 0; }
  .flip-scroll tbody tr { border-left: 1px solid #ddd; }
  .flip-scroll th:last-child,
  .flip-scroll td:last-child { border-bottom: 1px solid #ddd; }
}
.bordernone{ border: none !important;}
.bgnone{ background: none !important; padding: 10px 10px 10px 10px !important;}
.report-master{ width: 85%; padding: 0 0 10px 0}
.pos{width:40% !important;}
.report-master a {font-size: 14px;font-weight: 600;line-height: 17px;border-bottom: 1px solid #ccc;color: #2a6fb1;}
.report-master span{color: #888;font-size: 12.5px}
.repotsmain .bgnone{ padding: 10px !important;}
.report-master a:hover{ text-decoration: none; border-bottom:1px solid #2a6fb1 }

.invetory-tableft > .nav-tabs {
	border-right: 1px solid #ddd;
}
.invetory-tableft > .nav-tabs .active > a,
.invetory-tableft > .nav-tabs .active > a:hover, 
.invetory-tableft > .nav-tabs .active > a:focus {
	background: #F8F8F8;
	color: #000;
	border-color: #F8F8F8 #F8F8F8 transparent;
}
.invetory-tableft ul.nav-tabs {
	width: 14%;
	margin-right: 1%;
}
.invetory-tabtable {
	width: 85%;
	float: left;
}
table.invetorty-tab tbody tr td .textarea,
table.invetorty-tab1 tbody tr td .textarea {
	width: 100%;
	border: none;
	padding: 10px;
}
table.orderlist tr td .textarea:focus {
  box-shadow: inset 2px 0px 3px #ddd;
}
.invetory-tableft .nav > li > a:hover,
.invetory-tableft .nav > li > a:focus {
	background: #F8F8F8;
	color:#000;
}
@media only screen and (min-width: 0em) and (max-width: 47.9em) {
	.invetory-tableft ul.nav-tabs {
		width: 99%;
		border-right: none;
	}
	.invetory-tableft .nav-tabs,
	.invetory-tabtable {
		width: 100%;
	}
}
.required{color: red;}
.input-icon > .required{color: red;}
.selectdropdown{margin:0 0 0 4px;}

.page-content .setting-success { width:100% !important; margin-left:0px !important; }

.requiredborder{border: 1px solid red !important; padding-left: 10px !important;}
.invetorty-tab .form-group { margin-bottom:5px; margin-top:5px; }
.even{margin:0 0 5px 0; background: #EEE;}
.odd{margin: 0 0 5px 0;}
.group_padding{padding: 15px 0 0 0 !important;}
.col_padding {padding-left: 0 !important;}

.table.orderlist tbody tr td.order-nopadding, table.orderlist tr td .tax-table td.geozone-bor-bot {
	border-bottom:1px solid #ddd;
}
.page-content-wrapper {
	z-index:1;
}
.page-content-wrapper .page-bar {
	z-index:9999;
}
.innerpage-listcontent-blocks {
	float:left;
	width:100%;
	z-index:-1;
}
.page-content-wrapper .pagination {
    display: inline-block;
    padding-top: 6px;
    width: 100%;
	font-family: "Open Sans",sans-serif;
}
.page-content-wrapper .pagination .links {
    float: right;
    padding-top: 6px;
}
.page-content-wrapper .pagination .links a {
    border: 1px solid #dddddd;
    color: #428bca;
    font-size: 12px;
    padding: 6px 12px;
    text-decoration: none;
      margin:0px 0 0 -4px;
}
.page-content-wrapper .pagination .links b:last-child,
.page-content-wrapper .pagination .links a:last-child {
    margin:0px 0 0 -4px;
}
.page-content-wrapper .pagination .links a:first-child,
.page-content-wrapper .pagination .links b:first-child {
	border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}
.page-content-wrapper .pagination .links b:last-child,
.page-content-wrapper .pagination .links a:last-child {
	border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}
.page-content-wrapper .pagination .results {
	float: left;
}
.page-content-wrapper .pagination .links b {
    background: #eee none repeat scroll 0 0;
    border: 1px solid #ddd;
    color: #333;
    font-size: 12px;
    font-weight: normal;
    padding: 6px 12px;
    text-decoration: none;
	margin:0px 0 0 -4px;
}

.innerpage-listcontent-blocks table.orderlist tbody tr.even {
  background: #eee;
}
.innerpage-listcontent-blocks table.orderlist tbody tr.even td {
  background: none;
}

table.orderlist tbody tr.even {
  background: #eee;
}
table.orderlist tbody tr.even td {
  background: none;
}
table.orderlist tr td .radio {
	margin-top: 0px;
}
.table.orderlist tbody tr td.order-nopadding-radio {
	padding-left: 5px;
	padding-right: 0px;
}
table.invetorty-tab1 tbody tr td {
	border-right: 0px;
}

.new_invent{border: none !important;}

.tabbable .new_invent .active .inventory_tabs ,  .active .inventory_tabs:focus{
    color: #fff !important;
    border-left: none;
    background: #169ef4 !important;
    text-decoration: none;
    display: block;
    font-size: 15px;    
    text-align: left !important;
    padding: 8px 14px;
    margin-bottom: 1px;
}

.tabbable .new_invent li .inventory_tabs {
  background: #EEF4F7 !important;
}

.tabbable .new_invent li:hover .inventory_tabs {
    color: #4d82a3;
    text-decoration: none;
  }
.tabbable .new_invent li.active b {
  top: 0;
    right: -4px;
    width: 8px;
    height: 35px;
    position: absolute;
    display: inline-block;
  }
.tabbable .new_invent li.active:after {
  content: '';
    display: inline-block;
    border-bottom: 6px solid transparent;
    border-top: 6px solid transparent;
    border-left: 6px solid #169ef4;
    position: absolute;
    top: 14px;
    right: -6px;
  }

.page-sidebar-menu > li > a:focus {
	font-size:16px;
	font-weight:normal;
	font-family: "Source Sans Pro","Open Sans",Helvetica,Arial,Verdana,sans-serif;
	padding:10px 13px 10px 15px;
}

.table > tbody > .filter > td {
  padding: 0 !important;
}

.tools:hover{
   color:#4486F7 !important;
}

.tools > a:hover{
  color:#4486F7 !important;
}

.orderlist>tbody>tr >.insertproduct, .orderlist>tfoot>tr>.insertproduct {
  padding: 1px !important;
}

.large_box{width: 35% !important; float: left;}
.small_box{width: 6%;}

.row_total_box{width: 10%;}
.remarks_box{width:10%;}
.small_price_box{width: 5%;}

.bgcolor{background-color: #eee !important;}

.heading{background: #428bca; color: #000; font-weight: bold; font-size: 13px;}
.heading td{color:#fff;}
.heading td a {color: #fff;}

/*01-03-2016*/
.page-500{margin-top: 30px;text-align: center;}
.page-500 .number{display: inline-block;
    letter-spacing: -10px;
    line-height: 128px;
    font-size: 128px;
    font-weight: 300;
    color: #ec8c8c;
    text-align: right;}

    .page-500 .details {
    margin-left: 40px;
    display: inline-block;
    text-align: left;
  }

  .dispalynone{display: none}
  .fixed{display: table-row;}

  .pos_loaction, .pos_date, .pos_terminal,.pos_invoice{width: 18% !important; font-size: 1.0em !important;}
  .pos_date{width: 14% !important;}
  .pos_terminal, .pos_invoice{width: 16% !important;}
  .pos_invoice{border-right: 1px solid #357ebd !important;}
  #bill-payment-form,#bill-discount-form{width: 100%;}
  .payment-method-details{width:61%; float:left}
  #payment_mode{width:50%;}  
  .cash-details{ float: left;}
  .helpText{margin: 15px 0 0 10px; float: left;}
  .modal-footer{width: 100%;float: left;}
/*01-03-2016*/

.tender_label{color: #000 !important;
    font-size: 14px !important;
    font-weight: bold !important;
    float: left !important;}

  .cash-details ul li {list-style-type: none; padding:0 0 10px 0;font-size: 15px;}
  .cash-details ul li span{font-weight: bold; float: right;}

@media only screen and (min-width: 0em) and (max-width: 47.9em) {

.innerpage-listcontent-blocks {
    min-height: 100px;
    overflow: auto;
	height:auto;
}

.page-bar{
  min-width: 100%;
}

table.orderlist tbody tr td .textbox, table.orderlist tfoot tr td .textbox {
  min-width: 100%;
}

#bill-payment-form,#bill-discount-form{width:100%; margin : 0;}
 .payment-method-details{float: none;}
 #payment_mode{width:100%; margin:0 0 0 20px;}
 .tender_label{margin:0 0 0 15px;}
 #visa_amount,#cash_amount,#card_amount,#silp_number,#paid_amount,#discount_mode,#voucher_discount{margin:0 0 0 20px;}
 .cash-details{width: 100%; float: left;}
 .cash-details ul{margin: 10px 0 0 -20px;}
 .helpText{margin:0 0 0 8px;}
 .cash-details ul li {list-style-type: none; padding:0 0 10px 0;}
 .cash-details ul li span{margin:0 20px 0 0;}
 .modal-footer{width: 100%; float: left;}
}

/*19-03-2016*/
    .prod_btn{background-color: #eee !important;border-top-left-radius: 0; border-bottom-left-radius: 0;padding: 8.5px 12px; color: #333;border:1px solid #aaa !important;}
    .prod_btn:hover{color:#000;}
    .mb11{margin: 7px 0px 7px 15px; padding: 0px !important;width: 100%;}
    .mb13{margin: 10px 0px 10px 10px; padding: 0px !important;}
    .mb14{margin: 10px 0px 10px -25px; padding: 0px !important;}
    .mb1{margin: 10px 0px 10px 15px; padding: 0px !important; width: 20% !important}
    .mb13 input{border:1px solid #aaa !important; border-right: none !important;}
    .mb11 input{border:1px solid #aaa !important; border-right: none !important;}
    .bgpos1{background:#D7E0E7;border-bottom: 1px solid #ccc !important;width: 83.9%;}    
    .mb1 input{border:1px solid #aaa !important; font-size: 12px; width: 100%; line-height: 21px;}
    .cust_new{background-color: #eee !important;padding: 8.5px 12px; color: #333;border:1px solid #aaa !important;}
    .cust_new:hover{color:#000;}
    .bgpos2{background:#dde9d2; /*width: 57.90% !important;*/ border-left: 1px solid #ccc;border-bottom: 1px solid #ccc !important;}
    .bgpos{border-bottom: 1px solid #ccc !important}
    .postbl_new{margin-top: 0px !important;}
    .pricepostbl-new{width:17.40%; border-left: 1px solid #ccc !important; top: 68px !important;}
    .minw-new{margin: 15px 0 0 35px !important; min-width: 126px !important; background: #589141 !important; color: #fff !important; border: 1px solid #589141 !important;}
    .minw-new2{margin: 0 0 0 10px !important;}
    .minw-new3{margin: 15px 0 0 35px !important;}
    .table-responsive{border-bottom: 1px solid #ccc !important;}
    .inv_searchvalue,.filter_value{width:32% !important;}
    .customer_pos{width:102.8% !important;}
    .invent_search{min-height: 60px;margin: 10px 0 -15px -20px; padding:16px 0 0 0}

    @media only screen and (min-width: 0em) and (max-width: 768px) {
      /*.bgpos1{width: 100% !important}*/
      .mb14{margin: 10px 0px 10px -5px !important;}
      .bgpos{width: 38%;}
      .mb13{width: 48.33%;}
      .bgpos1{width:67.9% !important;}
      #producttobilling{width: 97% !important;}
      .col-sm-12,.col-xs-12{width:34% !important;}
      .pricepostbl-new{float: left;width: 32% !important;top: 63px !important;position: absolute !important;left: 67.5%;}
      .whole-container{margin-left:-37%;}
      .postbl_new{width: 69.6% !important;}
      .bgpos2{width:70% !important;}
      .mb11{margin:10px;}
      .fil_desc{width: 30% !important;}
      #addProductssts{width: 100% !important;}
      .custtpl{width: 100% !important;}
      .icon-btn{margin:0px 9px 20px 0 !important;}
      .innerpage-listcontent-blocks{min-height: 60px !important}
      table.orderlist tbody tr td .textbox, table.orderlist tfoot tr td .textbox{padding: 0 5px !important}
      .inv_searchvalue,.filter_value{width:36% !important;}
      .customer_pos{width:105% !important;}
      #print-body{width:98% !important;}
      .invent_search{margin: 10px 0 -2px -20px !important;}
      .cust_short{right: 25px !important}
      .cust_short_search{right: 25px !important}
      .inven_short{right: 66% !important}
      .short_inven{right: 9% !important}

    }
    @media only screen and (min-width: 980px) and (max-width: 1264px) {
      .mb13{width: 38.333% !important}
      .mb14{margin: 10px 0px 10px -5px;}
      .bgpos{width: 35% !important}
      #producttobilling{width: 94.3% !important;}
      .col-sm-12,.col-xs-12{width:31.5% !important;}
      .bgpos1{width: 78.9% !important;}
      .bgpos2{width: 36.9% !important;}
      .pricepostbl-new{width: 21% !important;}
      .whole-container{margin-left:-37%;}
      .postbl_new{width: 74.6% !important;}
      .fil_desc{width: 31% !important;}
      #addProductssts{width: 100% !important;}
      .custtpl{width: 100% !important;}
      .icon-btn{margin:0px 18px 20px 0 !important;}
      .mb11_product{margin: 7px 0px 7px 5px !important;}
      .mb11_newproduct{margin: 7px 0px 7px 10px !important;}
      .btn-group{margin: 0 5px !important;}
      .inv_searchvalue,.filter_value{width:30% !important;}
      .customer_pos{width:105% !important;}
      #print-body{width:98% !important;}
      .invent_search{margin: 10px 0 -2px -23px !important;}
      .inven_short{right: 35% !important}
      .cust_short{right: 45px !important;}
      .cust_short_search{right: 20px !important}
      .short_inven{right: 9% !important}

    }
     @media only screen and (min-width: 768px) and (max-width: 980px) {
      .icon-btn{margin:0px 9px 20px 0 !important;}
     }    

  /*24-03-2016*/
  .heading-purchase{
    background: #EEEEEE;
    color: #666;
    font-size: 13px;
    text-align: center;
  }
  #suggesstion-box{position:absolute;}
  
  /*#country-list{float:left;list-style:none;margin-left:0px;padding:0;cursor:pointer;}*/
  #country-list, #product-list{float:left;list-style:none;margin-left:0px;padding:0;cursor:pointer; max-height: 250px; overflow-y:scroll; }
  #country-list li, #product-list li {padding: 10px; background:#FAFAFA;border-bottom:#F0F0F0 1px solid;text-align: left;}
  #country-list li:hover, #product-list li:hover{background:#F0F0F0;}
  #product-list { width: 250px;}

  .purchase_input{min-width: 85% !important;}
  .vendor_input{min-width: 82.5% !important;}
  /*25-03-2016*/
  .purchase_label{width: 20% !important;padding: 0 0 0 5px;}
  .purchase_inputfields{min-width: 80% !important;}
  .purchase_table{border: none !important;}
  .purchase_table tbody tr td{border: 1px solid #DDD;}
  .purchase_extra{width: 3% !important; border: none !important;}
  .purchase_label_error{float: left; padding: 10px 0 0 5px !important;width: 20%;}
  .div_error{width: 80% !important; float: left;}
  .purchase_inputfields_error{min-width: 100% !important;}
  #refundprocess{ padding: 10px 10px 0px 15px; background: #eee !important;}
  /*29-03-2016*/
  .fil_desc{width: 32%;}
  #addProductssts{width: 97.5%;}
  .custtpl{width: 97.5%;}
  /*29-3-2016*/
.icon-btn .kbd_shortcut{top:6px;right:7px;;font-size:11px;position:absolute;font-weight: 600;}
.pos_shortcut{top:0px;right:7px;font-size:9px;position:absolute;font-weight: 600;color: teal;display: none;}
.pos_shortcut:hover{color:#fff !important;}
.cust_short{right:96px;}
.cust_short_search{right:46px;}
.payment_short{color: #fff;}
.inven_short{right: 83%;}
.short_inven{right: 12%;}
.sub-para{color: #666;font-size: 13px; margin: 15px 0px 0px 15px;}
.icon-btn-small{background-color:#eeeeee !important;background-image:none !important;border:1px solid #ddd;border-radius: 4px;box-shadow:none !important;color:#646464 !important;cursor:pointer;display:inline-block !important;filter: none !important; height: auto;margin:0 3px 10px 0;min-height:44px;padding:13px 12px;position:relative;text-align:center;text-shadow:none !important; transition: all 0.3s ease 0s !important;width: 40px;}
.cap-size{font-size: 14px ! important;}
/*01-04-2016*/
.order_info tbody tr{border:1px solid #ccc !important;}
.order_info tbody tr td.label{color:#000; border: none !important;line-height: 15px !important; float:left; background: #AAA;width: 100%;border-radius: 0 !important}
.order_info tbody tr td.label label{width:95% !important;}
.order_info tbody tr td.value{width: 80% !important; border: none !important;}
.order_head{background: #AAA; color:#000; font-weight: bolder}
.all_order{margin: -7px 0 0 0;}
.all_order a:hover{color: #fff !important; text-decoration: none;}
.all_order:hover{color: #fff !important;}
.shortcutkey{position:absolute;top:6px;right:7px; font-size: 11px;font-weight: 600;}
/*.changelog{background-color: #428bca;
    border-color: #357ebd;
    color: #fff;}*/
.tbl_heading{color: #666;
    font-size: 16px;
    text-shadow: none;
   padding-bottom: 20px;}
/*.innerpage-listcontent-blocks table span{color:#ff0000;font-weight: 600;}*/
.update{background-color: #ffffff;}
.footer-inner-img { float: left; width: 100%; margin-bottom: 5px;}
.footer-logo { margin: 0 auto; margin-top: 0px; padding: 15px; text-align: center;}
.set-bg-color { float: left; width: 100%; padding: 15px 0; background: #EEEEEE;}
.auto-compltee { z-index: 1;}

/* start */
.footercookie-cont { float: left; width: 100%; position: relative; z-index: 9001;}
.footercookie-wrap { float: left; width: 100%; position: absolute; bottom: 10px; background: #00aad1 none repeat scroll 0 0;}
.footercookie-wrap p { margin: 0; padding: 15px 10px; font-size: 16px;color: #fff;text-align: center;}
.footercookie-wrap p span { font-weight: bold;}
/* End */

/* New css added on 10-10-2017 */
.fontsize-bold { font-size: 14px; font-weight: bold;}
/* New css added on 10-10-2017 */

/* New css added on 21-10-2017 */
.settlement-wrapper { float: left; width: 100%; background: #ffffff; }
.settlement-wrapper table { border: none;}
.settlement-wrapper table tbody tr td { background: #ffffff; border: none;}
.settlement-wrapper table tbody tr td h4 { text-align: center;}
.settlement-wrapper table tbody tr td.dottoed-border { border-bottom: 1px dotted #cccccc !important; padding: 0px;}
.settlement-wrapper table tbody tr td.dashed-border { border-bottom: 1px dashed #cccccc !important; padding: 0px;}
.settlement-wrapper table tbody tr td.text-alignment { padding-left: 20px;}
/* New css added on 21-10-2017 */
.greentxt{color:#00730B; font-weight: bold;}
.redtxt{color:#FF0000; font-weight: bold;}
.grytxt{color:#A9A9A9; font-weight: bold;}
td.right{text-align: right;}