<div class="portlet bordernone">
	<div class="portlet-title portlet-height">
		<div class="caption caption-size">
			<i class="fa fa-star-o fa-5x" style="font-size: 30px;line-height:30px;"></i> Thank You !
		</div>   
	</div> 
	<p class="adjustment-para"></p>
	<h4 style="margin-left:15px;border-bottom:1px solid #DDDDDD;line-height:32px;">Next Step</h4>
	
	<p class="sub-para">Quote saved. Next you probably want to do one of the following:</p>    
	<div class="portlet-body bgnone">
		<a href="#" class="icon-btn back reopenquotes" id="<?php echo $hold_bill_no; ?>">
			<i class="glyphicon glyphicon-arrow-left"></i>
			<div>Re-Open Quote</div>
		</a>
		<a href="<?php echo $newsale; ?>" class="icon-btn">
			<i class="glyphicon glyphicon-usd"></i>
			<div>New Sale</div>
		</a>
	</div>
</div>
        

<div class="row">
	<div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 iframe-tag" id="print-body">
	  You hold Bill Number is
	  <h4><?php echo $hold_bill_no; ?></h4>
	</div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
    	$("#reopenquotes").click(function(e){
            e.preventDefault();
            alert("hi");
    	});

    });
</script>
