<?php echo $header; ?>
<div class="clearfix">
</div>
<div class="page-container">
	<?php echo $sidebar; ?>
	<div class="page-content-wrapper">
		<div class="page-content">
			<h3 class="page-title" style="text-align:center"><img src="view/image/error.png" alt=""> <?php echo $heading_title; ?></h3>		
			<div class="tab-content">				
				<div class="col-md-12 page-500">
					<div class="details">
						<h3><?php echo $text_permission; ?></h3>						
					</div>
				</div>				
			</div>
   		</div>
	</div>
</div>
<?php echo $footer; ?>