.listings {
    border-collapse:inset;
    font: normal 13px Arial, sans-serif;
    border:1px solid #000;
}
.listings thead th {
    padding: 10px;
    text-align: left;
    border:1px solid #000;
}
.listings tbody td {
    border:1px solid #000;
    color: #000000;
    padding:3px;
}
/*
p.reportHeader{margin:5px;font-size: 16px;font-weight: bold;width:100%;float:left;}
p.reportFilter{margin:5px;font-size: 13px;}
.line{margin-top: 1px solid #000;}
.right {
    text-align: right;
}
.tddiv{border: none;padding: 10px;}
*/

 .listing {
    border-collapse:inset;
    font: normal 13px Arial, sans-serif;
    border-bottom:1px solid #000;
}
.listing thead th {
    padding: 10px;
    text-align: left;
    border-bottom:2px solid #000;
}
.listing tbody td {
    border-bottom:1px solid #959595;
    color: #000000;
    padding:3px;
}
.listing tbody th {
    color: #000000;
    padding:3px;
    font: normal 10px Arial, sans-serif;
}
.listingTable {
    border-top:1px solid #000;
    border-left:1px solid #000;
    border-right:1px solid #000;
}
p.reportHeader{margin:5px;font-size: 16px;font-weight: bold;width:100%;float:left;}
p.reportFilter{margin:5px;font-size: 13px;}
.line{margin-top: 1px solid #000;}
.right {
    text-align: right;
}
.tddiv{border: none;padding: 10px;}
tr.last
{
   border-bottom: none;
}
.footer{
  position: fixed;
  bottom: 0;
}

.footertable {
    width: 100%;
    text-align:center;
    border: 2px solid black;
}