html,body{padding:0; margin:0; font-family:opensansregular0, Arial; font-size:12px; line-height:18px; text-align:center;}
a,img{padding:0; margin:0; border:0; outline:0; vertical-align:top; text-decoration:none;}
ul, ul li, ol, ol li, form, input, select, textarea, label {padding:0; margin:0; list-style:none; border:0; font-family:Arial;}
p,h1,h2,h3,h4,h5,h6{padding:0; margin:0; font-weight:normal;}
input[type=button]{cursor:pointer; border:0;}
input[type=text]{font-size:12px; font-family:Arial;}
select option{}
.clear{clear:both;}
header, nav, section, article, aside, footer, hgroup{
display: block;
}
@font-face {
    font-family: 'BebasNeueRegular';
    src: url('fonts/bebasneue-webfont.eot');
    src: url('fonts/bebasneue-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/bebasneue-webfont.woff') format('woff'),
         url('fonts/bebasneue-webfont.ttf') format('truetype'),
         url('fonts/bebasneue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
body{
background:#a8a8a8;
}
.a-right { text-align:right !important; }
#main{
width:100%;
float:left;
position:relative;
min-width:1024px;
}
#header{
float:left;
width:100%;
background:#ffffff;
min-height:84px;
}
.logo{
float:left;
width:30%;
max-width:331px;
height:55px;
margin:15px 0px 0px 2%;
}
.logo > a > img{
/*width:100% !important;*/
}

.success {
padding: 10px 10px 10px 33px;
margin-bottom: 15px;
background: #EAF7D9 url('../image/success.png') 10px center no-repeat;
border: 1px solid #BBDF8D;
color: #555555;
-webkit-border-radius: 5px 5px 5px 5px;
-moz-border-radius: 5px 5px 5px 5px;
-khtml-border-radius: 5px 5px 5px 5px;
border-radius: 5px 5px 5px 5px;
text-align:left;
}
.warning {
padding: 10px 10px 10px 33px;
background: #FFD1D1 url('../image/warning.png') 10px center no-repeat;
border: 1px solid #F8ACAC;
color: #555555;
-webkit-border-radius: 5px 5px 5px 5px;
-moz-border-radius: 5px 5px 5px 5px;
-khtml-border-radius: 5px 5px 5px 5px;
border-radius: 5px 5px 5px 5px;
float:left;
margin:15px;
width:83%;
text-align:left;
}
.attention {
padding: 10px 10px 10px 33px;
margin-bottom: 15px;
background: #FFF5CC url('../image/attention.png') 10px center no-repeat;
border: 1px solid #F2DD8C;
color: #555555;
-webkit-border-radius: 5px 5px 5px 5px;
-moz-border-radius: 5px 5px 5px 5px;
-khtml-border-radius: 5px 5px 5px 5px;
border-radius: 5px 5px 5px 5px;
text-align:left;
font-weight:bold;
}
.required {
color: #FF0000;
font-weight: bold;
}
.error {
clear: both;
color: #D40707;
display: block;
float: left;
font-family: cursive;
font-size: 13px;
font-weight: normal;
margin-top: 3px;
width: 98%;
background:url('../image/validation_advice_bg.gif') 0 5px no-repeat;
padding-left: 15px;
text-align:left;
}
.help {
color: #666;
font-size: 11px;
font-weight: normal;
font-family: Verdana, Geneva, sans-serif;
display: block;
float:left;
}

.company-info{
float:right;
min-height:54px;
width:40%;
margin:15px 2% 0px 0px;
/*background:#e8e8e8;*/
border-radius:10px;
font-family:BebasNeueRegular;
line-height:54px;
font-size:30px;
}
.company-info > a{
color:#6d6d6d;
}
#content{
float:left;
width:100%;
border-radius: 5px;
min-height:550px;

}
.main-container{ background:url(../image/form-bg.jpg) repeat; }

#container{
width:96%;
margin:15px 2% 0px 2%;
float:left;
padding:0px 0px 60px 0px;
position: relative;
}
/*POS DESIGN */


/* ============================================================================= Login page ========================================================================================*/
#login-box{ margin:0 auto; width:440px; }
.login-form {
width:100%;
float:left;
margin:100px auto 0px auto;
background:#ffffff;
border-radius:4px;
box-shadow:1px 1px 1px #999999, 3px 3px 0 #FFFFFF, 4px 4px 1px #999999, 6px 6px 0 #FFFFFF, 7px 7px 1px #999999;
position:relative;
padding-bottom:25px;  }
.user-pic{
float:left;
width:70px;
height:70px;
border:1px solid #cccccc;
margin:30px 0px 0px 185px;
border-radius:40px;
overflow:hidden;
box-shadow:inset 0px 2px 3px #cccccc;
position:relative;
}
.user-pic > span{
width:70px;
height:70px;
position:absolute;
top:0px;
left:0px;
background:url(../image/user-pic-glossy.png) no-repeat left top;
}
.username, .password{
float:left;
width:240px;
margin:20px 0px 0px 70px;
padding:0px 10px 0px 50px;
background:url(../image/login-fields.png) no-repeat 10px 0px;
height:35px;
border:1px solid #cccccc;
border-radius:3px;
}
.password{
margin-top:15px;
background-position:10px -37px;
}
.username:focus, .password:focus{
border-color:#8bc763;
box-shadow: 0px 0px 2px #70a74c;
}
.username:focus{
background-position:10px -76px;
}
.password:focus{
background-position:10px -113px;
}
.forgot-password{
float:left;
margin:5px 0px 0px 70px;
color:#999999;
}
.forgot-password:hover{
text-decoration:underline;
color:#70a74c;
}

.signin{
background:#70a74c;
height:28px;
float:right;
margin:15px 70px 0px 0px;
color:#ffffff;
border:none;
border-bottom:2px solid #679a46;
border-radius:3px;
cursor:pointer;
padding:0px 15px;
font-weight:bold;
line-height: 28px;
}
.signin:hover{
border-bottom:2px solid #70a74c;
background:#679a46;
}
.remember{
color:#999999;
position:absolute;
height:20px;
line-height:20px;
top:0px;
right:-80px;
font-size:12px;
}
.close{
position:absolute;
width:15px;
height:15px;
background:#cccccc;
border-radius:15px;
top:10px;
right:10px;
color:#ffffff;
line-height:15px;
text-align:center;
font-size:10px;
font-weight:bold;
}
.onoffswitch {
position: relative; width: 61px;
-webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
margin:20px 0px 0px 70px;
float:left;
clear:both;
}
.onoffswitch-checkbox {
display: none;
}
.onoffswitch-label {
display: block; overflow: hidden; cursor: pointer;
border: 1px solid #FFFFFF; border-radius: 22px;
}
.onoffswitch-inner {
width: 200%; margin-left: -100%;
-moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
-o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
float: left; width: 50%; height: 19px; padding: 0; line-height: 19px;
font-size: 11px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
text-align:left;
line-height:21px;
}
.onoffswitch-inner:before {
content: "Yes";
padding-left: 10px;
background-color: #93C274; color: #FFFFFF;
border-radius:22px;
box-shadow:inset 1px 1px 3px #515151;
background: rgb(118,163,89); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzc2YTM1OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5M2MyNzQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, rgba(118,163,89,1) 0%, rgba(147,194,116,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(118,163,89,1)), color-stop(100%,rgba(147,194,116,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(118,163,89,1) 0%,rgba(147,194,116,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(118,163,89,1) 0%,rgba(147,194,116,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(118,163,89,1) 0%,rgba(147,194,116,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(118,163,89,1) 0%,rgba(147,194,116,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#76a359', endColorstr='#93c274',GradientType=0 ); /* IE6-8 */
}
.onoffswitch-inner:after {
content: "No";
padding-right: 10px;
background-color: #ABABAB; color: #ffffff;
text-align: right;
border-radius:22px;
box-shadow:inset 1px 1px 3px #515151;
background: rgb(171,171,171); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2FiYWJhYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiY2JjYmMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, rgba(171,171,171,1) 0%, rgba(188,188,188,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(171,171,171,1)), color-stop(100%,rgba(188,188,188,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(171,171,171,1) 0%,rgba(188,188,188,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(171,171,171,1) 0%,rgba(188,188,188,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(171,171,171,1) 0%,rgba(188,188,188,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(171,171,171,1) 0%,rgba(188,188,188,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ababab', endColorstr='#bcbcbc',GradientType=0 ); /* IE6-8 */
}
.onoffswitch-switch {
width: 26px; margin: -3.5px;
background: #DFDFDF;
border: 1px solid #c8c8c8; border-radius: 22px;
position: absolute; top: 0; bottom: 0; right: 38px;
-moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
-o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s;
box-shadow:0px 0px 3px #cccccc;
background: rgb(248,248,248); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y4ZjhmOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkYWRhZGEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, rgba(248,248,248,1) 0%, rgba(218,218,218,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(248,248,248,1)), color-stop(100%,rgba(218,218,218,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(248,248,248,1) 0%,rgba(218,218,218,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(248,248,248,1) 0%,rgba(218,218,218,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(248,248,248,1) 0%,rgba(218,218,218,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(248,248,248,1) 0%,rgba(218,218,218,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#dadada',GradientType=0 ); /* IE6-8 */
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
right: 0px;
}
/* ============================================================================= End Login page ========================================================================================*/

/* ============================================================================= Forget Password ========================================================================================*/

#login-box .message-description{ color: #444444; float: left; margin: 10px; }
#login-box .buttons { float:left; width:100%; margin-top:15px; text-align:center; }
#login-box .buttons .button{ background:#70a74c; color:#ffffff; border:none; border-bottom:2px solid #679a46; border-radius:3px; cursor:pointer; padding:5px 15px; font-weight:bold; line-height:26px; }
#login-box .buttons .button:hover{ background:#679A46; border-bottom: 2px solid #70A74C; }

/* ============================================================================= End Forget Password ========================================================================================*/

/* ============================================================================= Home page ========================================================================================*/

#nav {
position:relative;
width:100%;
float:left;
background:#000000;
border-radius:5px;
}
ul#navigation {
margin:0px auto;
position:relative;
float:left;
}
ul#navigation li {
display:inline;
font-size:12px;
font-weight:bold;
margin:0;
padding:0;
float:left;
position:relative;
}
ul#navigation li a {
padding:10px 25px;
color:#ffffff;
text-decoration:none;
display:inline-block;

-webkit-transition:color 0.2s linear, background 0.2s linear;
-moz-transition:color 0.2s linear, background 0.2s linear;
-o-transition:color 0.2s linear, background 0.2s linear;
transition:color 0.2s linear, background 0.2s linear;
}
ul#navigation li a:hover,
ul#navigation li .active {
background:#f8f8f8;
color:#282828;
}
ul#navigation li:hover > a {
background:#fff;
color:#282828;
}
/* Drop-Down Navigation */
ul#navigation li:hover > ul
{
visibility:visible;
opacity:1;
}
ul#navigation ul, ul#navigation ul li ul {
list-style: none;
margin: 0;
padding: 0;
visibility:hidden;
position: absolute;
z-index: 99999;
width:180px;
background:#f8f8f8;
box-shadow:1px 1px 3px #ccc;
opacity:0;
-webkit-transition:opacity 0.2s linear, visibility 0.2s linear;
-moz-transition:opacity 0.2s linear, visibility 0.2s linear;
-o-transition:opacity 0.2s linear, visibility 0.2s linear;
transition:opacity 0.2s linear, visibility 0.2s linear;
}
ul#navigation ul {
top: 39px;
left: 0px;
}
ul#navigation ul li ul {
top: 0;
left: 181px;
}
ul#navigation ul li {
clear:both;
width:100%;
border:0 none;
border-bottom:1px solid #c9c9c9;
}
ul#navigation ul li.parents {
background:url(../image/menu-child.png) no-repeat scroll right bottom;
}
ul#navigation ul li a {
background:none;
padding:7px 15px;
color:#616161;
text-shadow:1px 1px 0px #fff;
text-decoration:none;
display:inline-block;
border:0 none;
float:left;
clear:both;
width:150px;
text-align:left;
}
ul#navigation li a.first {
border-left: 0 none;
border-radius:5px 0px 0px 5px;
}
ul#navigation li a.last {
border-right: 0 none;
}
#inner-navigation.slideup{ border-bottom: 1px solid #FFFFFF;  }
#inner-navigation.slideup #showmenu { background:url(../image/menu-drop.jpg) no-repeat center center #454545;}
#inner-navigation {
background:#454545;
float: left;
padding:0;
position: absolute;
top: 38px;
border: 1px solid #FFFFFF;
border-bottom:none;
width: 99.8%; z-index:999;}
#home-buttons{
float: left;
width: 97.5%;
padding:18px;

}
#inner-navigation #showmenu {
background:url(../image/menu-in.jpg) no-repeat center center #454545;
border-radius: 0 0 5px 5px;
bottom: -32px;
height: 31px;
position: absolute;
right: 10px;
width: 45px;
cursor:pointer;
border:1px solid #fff;
border-top:none;
}
#home-buttons > a{
float:left;
margin:0px 1% 0px 0px;
min-width:9%;
height:80px;
border-radius:5px;
background:#000;
box-shadow:0px 3px 3px #4e4e4e;
font-size:18px;
font-weight:bold;
padding:0px 5px;
}
#home-buttons > a > span{
padding:45px 0px 0px 0px;
float:left;
width:100%;
background:url(../image/home-icons.png) no-repeat;
}
#home-buttons > a.customer{
color:#853018;
text-shadow:0px 1px 0px #ffa37a;
background: rgb(249,133,67); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y5ODU0MyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZDJkMTciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, rgba(249,133,67,1) 0%, rgba(237,45,23,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(249,133,67,1)), color-stop(100%,rgba(237,45,23,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(249,133,67,1) 0%,rgba(237,45,23,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(249,133,67,1) 0%,rgba(237,45,23,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(249,133,67,1) 0%,rgba(237,45,23,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(249,133,67,1) 0%,rgba(237,45,23,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f98543', endColorstr='#ed2d17',GradientType=0 ); /* IE6-8 */
}
#home-buttons > a.customer > span{
background-position:center 13px;
}
#home-buttons > a.vendor{
color:#8c6a01;
text-shadow:0px 1px 0px #ffe051;
background: rgb(255,214,2); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZDYwMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZjg2MDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, rgba(255,214,2,1) 0%, rgba(255,134,0,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,214,2,1)), color-stop(100%,rgba(255,134,0,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(255,214,2,1) 0%,rgba(255,134,0,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(255,214,2,1) 0%,rgba(255,134,0,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(255,214,2,1) 0%,rgba(255,134,0,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(255,214,2,1) 0%,rgba(255,134,0,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd602', endColorstr='#ff8600',GradientType=0 ); /* IE6-8 */
}
#home-buttons > a.vendor > span{
background-position:center -103px;
}
#home-buttons > a.inventory{
color:#556c13;
text-shadow:0px 1px 0px #b6f665;
background: rgb(199,222,48); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2M3ZGUzMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1YTllMTAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, rgba(199,222,48,1) 0%, rgba(90,158,16,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(199,222,48,1)), color-stop(100%,rgba(90,158,16,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(199,222,48,1) 0%,rgba(90,158,16,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(199,222,48,1) 0%,rgba(90,158,16,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(199,222,48,1) 0%,rgba(90,158,16,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(199,222,48,1) 0%,rgba(90,158,16,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c7de30', endColorstr='#5a9e10',GradientType=0 ); /* IE6-8 */
}
#home-buttons > a.inventory > span{
background-position:center -225px;
}
#home-buttons > a.search{
color:#1b6b59;
text-shadow:0px 1px 0px #70fdd1;
background: rgb(75,225,209); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzRiZTFkMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxOWE1NzUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, rgba(75,225,209,1) 0%, rgba(25,165,117,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(75,225,209,1)), color-stop(100%,rgba(25,165,117,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(75,225,209,1) 0%,rgba(25,165,117,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(75,225,209,1) 0%,rgba(25,165,117,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(75,225,209,1) 0%,rgba(25,165,117,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(75,225,209,1) 0%,rgba(25,165,117,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4be1d1', endColorstr='#19a575',GradientType=0 ); /* IE6-8 */
}
#home-buttons > a.search > span{
background-position:center -344px;
}
#home-buttons > a.transactions{
color:#193263;
text-shadow:0px 1px 0px #7ba8ff;
background: rgb(103,194,227); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY3YzJlMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyMzRhYWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, rgba(103,194,227,1) 0%, rgba(35,74,173,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(103,194,227,1)), color-stop(100%,rgba(35,74,173,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(103,194,227,1) 0%,rgba(35,74,173,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(103,194,227,1) 0%,rgba(35,74,173,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(103,194,227,1) 0%,rgba(35,74,173,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(103,194,227,1) 0%,rgba(35,74,173,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#67c2e3', endColorstr='#234aad',GradientType=0 ); /* IE6-8 */
}
#home-buttons > a.transactions > span{
background-position:center -474px;
}
#home-buttons > a.pos{
color:#530d69;
text-shadow:0px 1px 0px #e567ff;
background: rgb(216,54,231); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q4MzZlNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4YzEyYjkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, rgba(216,54,231,1) 0%, rgba(140,18,185,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(216,54,231,1)), color-stop(100%,rgba(140,18,185,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(216,54,231,1) 0%,rgba(140,18,185,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(216,54,231,1) 0%,rgba(140,18,185,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(216,54,231,1) 0%,rgba(140,18,185,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(216,54,231,1) 0%,rgba(140,18,185,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d836e7', endColorstr='#8c12b9',GradientType=0 ); /* IE6-8 */
}
#home-buttons > a.pos > span{
background-position:center -596px;
}
#home-buttons > a.change-printer{
color:#6c0e27;
text-shadow:0px 1px 0px #ff6994;
background: rgb(233,60,163); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U5M2NhMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiZjE0MzciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, rgba(233,60,163,1) 0%, rgba(191,20,55,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(233,60,163,1)), color-stop(100%,rgba(191,20,55,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(233,60,163,1) 0%,rgba(191,20,55,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(233,60,163,1) 0%,rgba(191,20,55,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(233,60,163,1) 0%,rgba(191,20,55,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(233,60,163,1) 0%,rgba(191,20,55,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e93ca3', endColorstr='#bf1437',GradientType=0 ); /* IE6-8 */
}
#home-buttons > a.change-printer > span{
background-position:center -716px;
}
#home-buttons > a.exit{
color:#6c1111;
text-shadow:0px 1px 0px #ff6e6e;
background: rgb(233,72,72); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U5NDg0OCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiZDE4MTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, rgba(233,72,72,1) 0%, rgba(189,24,24,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(233,72,72,1)), color-stop(100%,rgba(189,24,24,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(233,72,72,1) 0%,rgba(189,24,24,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(233,72,72,1) 0%,rgba(189,24,24,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(233,72,72,1) 0%,rgba(189,24,24,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(233,72,72,1) 0%,rgba(189,24,24,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e94848', endColorstr='#bd1818',GradientType=0 ); /* IE6-8 */
}
#home-buttons > a.exit > span{
background-position:center -838px;
}

/* Company Information */
.company-information{  float: left; text-align: left; width: 95%; background:url(../image/form-bg.jpg) repeat; border-radius: 5px; padding:15px 35px 35px; color:#fff; }
.company-information h1{  color: #FFFFFF; float: left; font-weight: bold; margin-bottom:20px; text-transform: uppercase; width: 95%; }
.company-information .company-details-form{ float:left; width:100%; }
.company-information .company-details-form .form-information{ float:left; width:49%; }
.company-information .company-details-form .form-information.left-side{ padding-right:2%; }
.company-information .form-information .fields{ float:left; width:100%; }
.company-information .form-information .fields label{ float: left; font-family: Tahoma; font-size: 17px; width: 25%; line-height:32px;  }
.company-information .form-information .fields .input-text{  border-radius: 5px; float: right; margin: 3px 0; padding: 8px 10px; width: 70%; font-size: 12px; }
.company-information .form-information .fields .field{ float:left; width:50%; }
.company-information .form-information .fields .field label{ width:50%; }
.company-information .form-information .fields .field .input-text{ width:40%; }
.company-information .form-information .fields  textarea{}
.company-information .form-information .fields .field.last{ text-align:right;}
.company-information .form-information .fields .field select{ float: left; margin-left:33px; width: 25% !important; }
.company-information .form-information .fields .sub-field{ float:right; width:73%;}
.company-information .form-information .fields .sub-field label{ font-size:14px; width:28%; line-height: 37px; }
.company-information .form-information .fields .sub-field .input-text { float: left; width: 55%; }
.company-information .form-information .fields .action{ /*margin: 40px 0;*/ margin: 0px 0px; }
.company-information .form-information .promotion-chcekbox{ float: left; margin: 5px 0; text-align: center; width: 100%; }
.company-information .company-details-form .image-files{ color: #FFFFFF; float: left; margin-left: 2%; }
button.btn,
a.btn{
float:left;
margin:0px 1% 0px 0px;
min-width:9%;
height:67px;
border-radius:5px;
background:#000;
/*box-shadow:0px 3px 3px #4e4e4e;*/
font-size:16px;
font-weight:bold;
padding:0px 70px;
border:none;
cursor:pointer;
text-transform:uppercase;
}
a.btn{
float:left;
margin:0px 1% 0px 0px;
min-width:9%;
height:67px;
border-radius:5px;
background:#000;
/*box-shadow:0px 3px 3px #4e4e4e;*/
font-size:16px;
font-weight:bold;
padding:0px 70px;
border:none;
cursor:pointer;
text-transform:uppercase;
}
.btn.btn-update{
color:#fff;
text-shadow:0px 1px 0px #fff;
background: rgb(249,133,67); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y5ODU0MyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZDJkMTciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, rgba(197, 230, 117,1) 0%, rgba(77, 134, 19,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(197, 230, 117,1)), color-stop(100%,rgba(77, 134, 19,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(197, 230, 117,1) 0%,rgba(77, 134, 19,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(197, 230, 117,1) 0%,rgba(77, 134, 19,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(197, 230, 117,1) 0%,rgba(77, 134, 19,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(197, 230, 117,1) 0%,rgba(77, 134, 19,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#C5E675', endColorstr='#4D8613',GradientType=0 ); /* IE6-8 */}

.btn.btn-zone{
color:#fff;
text-shadow:0px 1px 0px #fff;
background: rgb(46, 49, 146); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y5ODU0MyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZDJkMTciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, rgba(46, 49, 146,1) 0%, rgba(82, 85, 176,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(46, 49, 146,1)), color-stop(100%,rgba(82, 85, 176,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(46, 49, 146,1) 0%,rgba(82, 85, 176,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(46, 49, 146,1) 0%,rgba(82, 85, 176,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(46, 49, 146,1) 0%,rgba(82, 85, 176,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(46, 49, 146,1) 0%,rgba(82, 85, 176,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2E3192', endColorstr='#5255B0',GradientType=0 ); /* IE6-8 */}

.btn.btn-action{
color:#fff;
text-shadow:0px 1px 0px #fff;
background: rgb(0, 0, 0); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y5ODU0MyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZDJkMTciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, rgba(0, 0, 0,1) 0%, rgba(68, 68, 68,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0, 0, 0,1)), color-stop(100%,rgba(68, 68, 68,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(0, 0, 0,1) 0%,rgba(68, 68, 68,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(0, 0, 0,1) 0%,rgba(68, 68, 68,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(0, 0, 0,1) 0%,rgba(68, 68, 68,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(0, 0, 0,1) 0%,rgba(68, 68, 68,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#444444',GradientType=0 ); /* IE6-8 */}

.btn.btn-reset{
color:#444;
text-shadow:0px 1px 0px #444;
background: rgb(249,133,67); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y5ODU0MyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZDJkMTciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, rgba(255, 255, 255,1) 0%, rgba(214, 214, 214,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255, 255, 255,1)), color-stop(100%,rgba(214, 214, 214,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(255, 255, 255,1) 0%,rgba(214, 214, 214,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(255, 255, 255,1) 0%,rgba(214, 214, 214,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(255, 255, 255,1) 0%,rgba(214, 214, 214,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(255, 255, 255,1) 0%,rgba(214, 214, 214,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#D6D6D6',GradientType=0 ); /* IE6-8 */}
.field .validation-advice{ float: left; text-align: right; width: 94%; }
.validation-advice { color: #FF0000; float:left; font-weight: bold; text-align: left; width: 100%; }
.validation-failed { border:1px solid #FF0000; background:#FBE3E3; }
.form-information{ float:left; width:100%; margin:10px 0; }
.form-information .form-new{ background:#F1F1F1; border-radius: 0 0 5px 5px; padding: 2%; width: 70%; margin: 0 auto; border-top: 1px solid #DDDDDD; }
.form-information .fields{ float:left; width:100%; }
.form-information .divider{ border-bottom: 1px solid #FFFFFF; border-top: 1px solid #DDDDDD; float: left; line-height: 0; margin: 10px 0; width: 100%; }
.form-information .fields label{ float: left; font-family: Tahoma; font-size: 14px; width: 28%; line-height:32px; text-align:left;  }
.form-information .fields .input-text{  border-radius: 5px; float: left; margin: 3px 0; padding: 8px 10px; width: 70%; font-size: 12px; }
.form-information .fields select { width:25% !important; }
.form-information .fields .readonly{   background: none repeat scroll 0 0 #DDDDDD; color: #444444;  }
.form-information .fields .field{ float:left; width:50%; }
.form-information .fields .field label{ width:56%; }
.form-information .fields .field .input-text{ width:40%; }
.form-information .fields .check-box{ float: left; margin: 8px 0; text-align: left; width: 10%; }
.form-information .fields  textarea{}
.form-information .fields .field.last{ text-align:right;}
.form-information .fields .field select{ float: left; /*margin-left: 13px;*/ width: 25% !important; }
.form-information .fields .sub-field{ float:right; width:73%;}
.form-information .fields .sub-field label{ font-size:14px; width:28%; line-height: 37px; }
.form-information .fields .sub-field .input-text { float: left; width: 55%; }
.form-information .fields .action{ margin: 40px 0; }
.form-information .promotion-chcekbox{ float: left; margin: 5px 0; text-align: center; width: 100%; }
.form-information .fields .image-files { border-radius: 5px; float: left; margin-left: 2%; }
.form-information .fields .image-files img{ background:#fff; }
.form-information .fields .image-files .input-text{ float: left; margin: 10px 0; }

.form-information .list-boxes{ float:right; width:71%; }
.form-information .list-boxes .input-text{ float: left; margin: 3px 10px; width: auto; }
.form-information .list-boxes label{ float: left; line-height: 18px; width: auto }

#login-box h1{ float: left; font-family: BebasNeueRegular; letter-spacing: 1px; padding: 20px 0; width: 100%; }
#login-box #change-password-form .signin{ height: 30px; }
#login-box #change-password-form .validation-failed{ background:url(../image/login-fields.png) no-repeat scroll 10px 0 #FBE3E3 !important; background-position: 10px -37px!important;  }
#login-box #change-password-form .validation-advice{ font-weight: normal; width: 84%; margin: 4px 0; padding: 0 10px 0 70px; width: 82%; }
#login-box #change-password-form .user-pic{ margin:10px 0 0 185px; }

.form-list { background:#F1F1F1; margin: 0 auto; padding: 0; width: 75%; }
.form-list .label{ width:30%; font-family: Tahoma; font-size: 14px; line-height: 32px; text-align: left; vertical-align: top; }
.form-list .value{ width:100%; text-align: left;}
.form-list .value .input-text { border-radius: 5px; float: left; font-size: 12px; margin: 3px 0; padding: 8px 10px; width: 95%; }
.form-list tbody { width:100%; }
.form-list tbody tr { width:100%; }
.heading .action { width:100%; text-align: right;  padding:0;}
.heading .action .btn { float: none; font-family:Arial, Helvetica, sans-serif; font-size: 12px; height: auto; line-height: 21px; min-width: 2% !important; padding: 2px 10px; width: auto; text-shadow:0px 0px 0px #fff; }

.form-information .form-new.form-wide{ width: 85%; }
.form-information .form-wide .form-list{ width: 100%; }
.form-information .form-wide .form-list .label{ width:20%; }
.form-information .form-wide .form-list .value{ width:30%; }
.form-wide .form-list .value .input-text { width:80%; }

.form-information .heading{ background:url(../image/edit.png) no-repeat scroll 10px 9px #454545 !important; border-radius: 5px 5px 0 0; height: 27px; margin: 0 auto; padding: 1%; width: 72%; border-bottom: 1px solid #454545;  }
.form-information .heading h1,
.form-list-container .heading h1{ float: left; color:#fff; font-family: BebasNeueRegular; font-size: 18px; font-weight: bold; letter-spacing: 1px; line-height: 32px; text-align: left; width: 81%; padding-left:4%; }
.form-information .heading .action,
.form-list-container .heading .action{ float: right; width: 15%; }
.form-list-container { float:left; width:100%; }
.form-list-container .heading { background:url(../image/list.png) no-repeat scroll 10px 9px #F8F8F8 !important; /*border: 1px solid #F1F1F1;*/ height: 27px; margin:0 auto 1%; padding: 1%; width: 98%; }
.form-list-container .heading h1{ padding-left:3%; width:75%; color:#000; font-size:22px; line-height:29px; }
.form-list-container .heading .action { margin-right: 3%; margin-top: 5px; }
.form-list-container .heading .action .btn{ padding:5px 10px; }
#zone-to-geo-zone,
#tax-rule{ margin: 10px auto 0; width: 75%; }
#zone-to-geo-zone .btn.btn-zone,
#tax-rule .btn.btn-zone{  font-family: Arial; font-size: 11px; font-weight: normal; height: auto; padding: 5px 10px; width: auto; text-shadow: 0 0 0 #FFFFFF; }
#zone-to-geo-zone .input-text,
#tax-rule .input-text{  border-radius: 5px; float: left; font-size: 12px; margin: 3px 0; padding: 8px 10px; }
.form-list-container .warning{ width:94%; float:none; }
.form-list-container .input-text{ border-radius: 5px; font-size: 12px; margin: 3px 0; padding: 8px 10px; width: 75%; }
.form-list-container .btn.btn-zone{ float: right; font-size: 12px; height: 25px; padding: 0 30px; text-align: center; text-shadow: 0 0 0 #FFFFFF; text-transform:none;}
.heading.product-form{ padding:1% 2%; }
.product-form { width: 90%!important; }
.product-form .tab-list{ width:100%; }
.product-form .tab-list .label{ width:20%; vertical-align: top; }
.product-form .tab-list .value{  vertical-align: top; width: 70%; }
.product-form .tab-list .form-list{ width:100%; }
.product-form .list .btn.btn-zone{ font-size: 12px; height: 27px; line-height: 26px; padding: 0 10%; text-shadow: 0 0 0 #FFFFFF; }
.product-form .list input[type="text"]{ border-radius: 4px; padding: 2%; }

.order-details{ width:90% !important; }
.order-details .tab-list{ width:100%; }
.order-details .tab-list .label{ width:20%; vertical-align: top; font-size: 12px; font-weight:600; }
.order-details .tab-list .value{  vertical-align:middle; width: 70%; }
.order-details .tab-list .form-list{ width:100%; margin-bottom:15px;  }
.order-details .list .btn.btn-zone{ font-size: 12px; height: 27px; line-height: 26px; padding: 0 10%; text-shadow: 0 0 0 #FFFFFF; }
.order-details .list input[type="text"]{ border-radius: 4px; padding: 2%; }
#tab-product{ float:left; width:100%; }
#tab-product table{ float:left; width:100%; border:1px solid #e1e1e1; border-collapse:collapse;  }
#tab-product table thead{ border-bottom:1px solid #e1e1e1; line-height:30px; font-weight:bold; }
#tab-product table tr{}
#tab-product table tr td { border-bottom: 1px solid #E1E1E1; line-height: 30px; padding: 0 2%; }
#tab-product table td.right{ text-align:right;  }
#tab-product table #totals td{ border:none; }
#tab-product table #totals .amount{ font-weight:bold; }
.change_utility_box { width:124px !important; margin-top:-5px !important; }

/* transaction - purchase */
.transaction_wrapper .top_main_wrapper tbody tr td.label { width:15%; }
.transaction_wrapper .top_main_wrapper tbody tr td.value { width:30%; padding-right:5%; }

/*.purchase_grid { margin-top:30px; } ragu */
   .purchase_grid { margin-top:30px;max-height:250px;overflow-y:scroll;}

.purchase_add { margin-top:100px; }
.purchase_add .list input[type="text"] { border-radius:4px; padding:3% 2%; }
.purchase_add .list input.small_box { width:60px; padding:4% 1%; }
.purchase_add_button .btn-zone { float:right; padding:0px 10px !important; text-align:center; width:80px; }
.purchase_add .list input.small_price_box { width:80px; text-align:right; }
.row_total_box { text-align:right; }
.purchase_total_left { padding:12px 30px; }
.left.purchase_add_button { padding:10px 0px 25px 0px; }
.purchase_no_data { padding:6px 0px !important; }
.purchase_form_page h1 { width:72% !important; }
.purchase_form_page .action { width:22% !important; }
.purchase_form_page .action button { margin-right:3% !important; }

/* master report */
.master_name_list td.right { width:48%; border-right:none; }
.master_name_list td.left { width:52%; }
.master_name_list td label { cursor:pointer; margin-left:5px; }
.master_print_button { padding:2px 10px !important; line-height:20px !important; margin:-4px 50px 0px 0px !important; }

.barcode_button .btn { float: none; font-family:Arial, Helvetica, sans-serif; font-size: 12px; height: auto; line-height: 21px; min-width: 2% !important; padding: 2px 10px; width: auto; text-shadow:0px 0px 0px #fff; }
.value.barcode_button { text-align:center; padding-top:15px; }

/* inventory and purchase changes */
#pre-loader-icon { display:none; position:fixed; top:0px; left:0px; width:100%; height:100%; margin:0; padding:0; background:#ffffff; z-index:9999; opacity:0.7; }
.preloaderContent { position:absolute; left:50%; top:40%; width:200px; height:100px; margin-left:-100px;/*half of width*/ }
.preloaderContent img { display:block; margin:auto; text-align:center; }
#loadLabel { padding-bottom:20px; font-size:28px; font-weight:300; font-family:BebasNeueRegular; color:#000000; text-align:center; }
.large{width: 200px;}
.payment-page {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 25px 5px #999999;
    color: #111111;
    display: block;
    height: 525px !important;
    min-height: 525px;
    min-width: 450px;
    opacity: 1;
    overflow: auto;
    padding: 25px;
    width: 699px !important;
    z-index: 9999;
}
.payment-page .page-title{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 6px;
    text-align: left;
    text-transform: uppercase;
}

/*02.02.2016 css */

.dashboard { min-height: 269px; }
.dashboard-bg { border: 5px solid #f5f5f6; border-radius: 30px; height: auto; margin-bottom: 20px; padding: 5% 7% 2%; }
.dashboard-icon {
    /*background: rgba(0, 0, 0, 0) url("../image/icon_bg.png") no-repeat scroll center center;*/

    /*background: url("../image/warning.png") no-repeat scroll 10px center #FFD1D1;*/
    height: auto;
    /*margin-left: 2%;*/
   /* min-height: 166px;*/
    /*padding: 6%;*/
    text-align: center;
    /*width: 100%;*/
}
.box-inner{ float:left; text-align:center; padding: 30px; width: 15%;}
.dashboard-text { color: #909090; font-family: Arial; font-size: 17px; font-weight: bold; margin: 1% auto 4%; text-align: center; text-transform: uppercase; width: 100%; }
.dashboard-text span { text-align: center; word-wrap: break-word; }
.dashboard-text span a, .dashboard-text span a:hover { color: #909090; }
/*.dashboard-text img { display: table; text-align: center; }*/
/*.dashboard { min-height: 269px;}*/

@media only screen and (min-device-width :0px) and (max-device-width : 640px) {
	.box-inner{ float:left; text-align:center; width: 40%;}

}
