html {
	margin: 0;
	padding: 0;
	height: 100%;
}
body {
}
body, td, th, input, select, textarea, option, optgroup {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
}
input[type='text'] {

}
select {

}
textarea {

}
a, a:visited {
	color: #003366;
	cursor: pointer;
}
form {
	margin: 0;
	padding: 0;
}
#header {
}
#header .div1 {
	color: #FFFFFF;
	padding: 18px 0px 0px 0px;
	float: left;
}
#header .div2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFF;
	text-align: right;
	padding: 14px 0px 0px 0px;
	float: right;
}
#header .div2 span {
	font-weight: bold;
}
#menu {
	background: url('../image/menu.png') repeat-x;
	position: relative;
	z-index: 1;
	height: 34px;
	clear: both;
	padding: 0px 30px;
	min-width: 900px;
}
ul.left {
	float: left;
}
ul.right {
	float: right;
}
.nav {
	position: relative;
	margin: 0;
	padding: 0;
}
.nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	background: url('../image/transparent.png');
}
.nav a {
	display: block;
	color: #FFFFFF;
	text-decoration: none;
	padding: 5px;
}
.nav > li + li {
	background: url('../image/split.png') center left no-repeat;
}
.nav .top, .nav li li.sfhover {
	padding: 10px 15px 9px 17px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	text-align: center;
}
.nav ul li {
	padding: 2px;
}
.nav .selected .top {
	background: url('../image/selected.png') repeat-x;
	color: #FFFFFF;
}
.nav .selected:hover a.top, .nav .sfhover a.top {
}
.nav .parent {
	background: url('../image/arrow_right.png') 95% center no-repeat;
}
.nav li {
	float: left;
	list-style: none;
}
.nav li ul {
	position: absolute;
}
.nav li li {
	clear: both;
}
.nav li ul a {
	color: #FFFFFF;
	height: 15px;
	width: 145px;
}
.nav li ul ul {
	margin: -27px 0 0 157px;
}
.nav li li:hover, .nav li li.sfhover {
	background: #333;
	color: #000000;
}
#content {
}
#container {
	height: 100%;
}
body > #container {
	height: auto;
	min-height: 100%;
}
#footer {
	background:url("../image/footer.png") repeat-x scroll center bottom #FFFFFF;
	height: 74px;
	padding-top: 38px;
	text-align: center;
	font-size: 12px;
	color: #333;
	position: relative;
	margin-top: -128px;
	clear: both;
}
#footer a {
	color: #333;
	text-decoration: underline;
}
.breadcrumb, .breadcrumb a {
	font-size: 12px;
	color: #666;
	margin-bottom: 15px;
}
.success {
	padding: 15px 0px;
	margin-bottom: 15px;
	background: #E4F1C9;
	border: 1px solid #A5BD71;
	font-size: 12px;
	text-align: center;
}
.warning {
	padding: 15px 0px;
	margin-bottom: 15px;
	background: #FFDFE0;
	border: 1px solid #FF9999;
	font-size: 12px;
	text-align: center;
}
.attention {
	padding: 15px 0px;
	margin-bottom: 15px;
	background: #FEFBCC;
	border: 1px solid #E6DB55;
	font-size: 12px;
	text-align: center;
}
.box {
	background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    margin-bottom: 15px;
    width: 100%;
	border-radius: 5px;
}
.box > .heading {
	height: 40px;
	background: url('../image/box_center.png') repeat-x;
	margin-bottom: 0px;
}
.box > .left {
	float: left;
	width: 7px;
	height: 40px;
	background: url('../image/box_left.png') no-repeat;
}
.box > .right {
	float: right;
	width: 7px;
	height: 40px;
	background: url('../image/box_right.png') no-repeat;
}
.box > .heading h1 {
	background-position:  2px 9px;
	background-repeat: no-repeat;
	margin: 0px;
	padding: 11px 0px 11px 11px;
	color: #003A88;
	font-size: 16px;
	float: left;
}
.box > .heading .buttons {
	float: right;
	padding-top: 8px;
	margin-right: 60px;
}
.box > .content {
	float: left;
    min-height: 395px;
    padding: 10px;
    width: 98.3%;
}
.button {
	padding-left: 8px;
	display: inline-block;
	margin-right: 5px;
	background: url('../image/button_left.png') top left no-repeat;
	width:58px;
	border:none;
	cursor:pointer;
}
button.button span{ margin-top:-1px; padding:4px 10px 5px 2px;  }
.button span {
	color: #FFF;
	display: block;
	padding: 3px 10px 5px 2px;
	background: url('../image/button_right.png') top right no-repeat;
}
.list {
	border-collapse: collapse;
	width: 100%;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
.list td {
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}
.list thead td {
	background-color: #EFEFEF;
	padding: 0px 5px;
}
.list thead td a, .list thead td {
	text-decoration: none;
	color: #222222;
	font-weight: bold;
}
.list tbody a {
}
.list tbody td {
	vertical-align: middle;
	padding: 0px 5px;
}
.list tbody tr:odd {
	background: #FFFFFF;
}
.list tbody tr:even {
	background: #E4EEF7;
}
.list .left {
	text-align: left;
	padding: 7px;
}
.list .right {
	text-align: right;
	padding: 7px;
}
.list .center {
	text-align: center;
	padding: 7px;
}
.list .asc {
	padding-right: 15px;
	background: url('../image/asc.png') right center no-repeat;
}
.list .desc {
	padding-right: 15px;
	background: url('../image/desc.png') right center no-repeat;
}
.list .filter td {
	padding: 5px;
	background: #F8F8F8;
}
.pagination {
	margin-top: 30px;
	border-top: 1px solid #EEEEEE;
	background: #F8F8F8;
	display: inline-block;
	width: 100%;
}
.pagination .links, .pagination .results {
	padding: 9px;
}
.pagination .links {
	float: left;
}
.pagination .links a {
	border: 1px solid #CCCCCC;
	padding: 4px 7px;
	text-decoration: none;
	color: #000000;
}
.pagination .links b {
	border: 1px solid #CCCCCC;
	padding: 4px 7px;
	text-decoration: none;
	color: #000000;
	background: #FFFFFF;
}
.pagination .results {
	float: right;
}
.form {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
}
table.form tr td:first-child {
	width: 200px;
}
.form > * > * > td {
	padding: 10px;
	color: #000000;
	border-bottom: 1px dotted #CCCCCC;
}
.help {
	color: #999;
	font-size: 10px;
	font-weight: normal;
	font-family: Verdana, Geneva, sans-serif;
	display: block;
}
.required {
	color: #FF0000;
	font-weight: bold;
}
.error {
	color: #FF0000;
	padding-top: 3px;
	display: block;
	font-size: 12px;
	font-weight: normal;
}
.scrollbox {
	border: 1px solid #CCCCCC;
	width: 350px;
	height: 100px;
	background: #FFFFFF;
	margin: 5px 0;
    overflow-y: scroll;
    text-align: left;
    width: 98%;
}
.htabs {
	padding: 0px 0px 0px 10px;
	height: 30px;
	border-bottom: 1px solid #DDDDDD;
	margin-bottom: 15px;
}
.htabs a {
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	background: #FFFFFF url('../image/tab.png') repeat-x;
	padding: 6px 15px 7px 15px;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: #000000;
	margin-right: 2px;
}
.error-tab { background:#D40707!important; color:#fff!important;}

.htabs a.selected {
	padding-bottom: 8px;
	background: #FFFFFF;
}
.vtabs {
	width: 180px;
	padding: 10px 0px;
	min-height: 300px;
	/*float: left;*/
	display: block;
	border-right: 1px solid #DDDDDD;
}
.vtabs a {
	display: block;
	float: left;
	width: 150px;
	margin-bottom: 5px;
	clear: both;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
	background: #FFFFFF;
	padding: 6px 14px 7px 15px;
	font-family: BebasNeueRegular;
    font-size: 20px;
    font-weight: normal;
	text-align: right;
	text-decoration: none;
	color: #000000;
}
.vtabs a.selected {
	background: none repeat scroll 0 0 #000000;
    color: #FFFFFF;
    padding-right: 15px;
}
.vtabs_page {
	margin-left: 195px;
}
.scrollbox div {
	padding: 3px;
}
.scrollbox div input {
	margin: 0px;
	padding: 0px;
	margin-right: 3px;
}
.scrollbox div.even {
	background: #FFFFFF;
}
.scrollbox div.odd {
	background: #E4EEF7;
}

.add {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:transparent url(../image/add.png) no-repeat scroll right center;
	color:#000000;
	display:inline-block;
	padding-right:20px;
	cursor: pointer;
}
.remove {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:transparent url(../image/delete.png) no-repeat scroll right center;
	color:#000000;
	display:inline-block;
	padding-right:20px;
	cursor: pointer;
}
.top_search { border:none; border-collapse:collapse; width:100%; margin-bottom:20px; }
.top_search td { border:none; }
.top_search .filter td { background:#f8f8f8; padding:5px; }

/* master report */
.print-master-report { width:980px; margin:0 auto; }
.print-master-report .heading { background:#f8f8f8 !important; }
.print_company_info { border:1px solid #dddddd; margin-bottom:10px; padding:10px 0; width:100%; }
.print_contact td.right { width:40%; text-align:right; }
.print_contact td.center { width:60%; text-align:right; }

.print_empty_contact td.right { width:46%; text-align:right; }
.print_empty_contact td.center { width:54%; text-align:right; }

.print_phone { padding-right:10px; }
.print_fax { padding-left:10px; }
.print_date { padding-right:20px; }
.print_page_button { padding-bottom:15px !important; padding-top:15px !important; }
.print_page_button a { float:none !important; padding: 5px 30px !important; }
.master_print_button td button { float:none !important; }
.barcode_listing td { border-bottom:none !important; }
.barcode_listing td.last { border-bottom:1px solid #dddddd !important; }

/* pop up */
#suggesstion-box{position:absolute;}
	#country-list{float:left;list-style:none;margin-left:38px;padding:0;width:211px;}
	#country-list li{padding: 10px; background:#FAFAFA;border-bottom:#F0F0F0 1px solid;}
	#country-list li:hover{background:#F0F0F0;}

#popup{
   /*background-color: #000;*/
   /*position: fixed;*/
   top: 0px;
   right: 0px;
   bottom: 0px;
   left: 0px;
   /*opacity: 0.7; */
   opacity: 1; /*changed by anu*/
   z-index: 9998;
   display: none;
}
#center{
    border: 10px solid #151515;
    margin: 6% auto;
    width: 750px;
    background: #ffffff;
}

#centeredge{
    border: 10px solid #151515;
    margin: 2% auto;
    width: 750px;
    background: #ffffff;
}
#close{
    float: right;
    /*position: absolute;
    top: 12%;*/
    margin-top:-31px;
    margin-right: -10px;
    /*position: absolute;
    left: 1035px;
    top: 10px;*/
	}
#payment-page .page-title, #bill-payment-page .page-title, #order-success-page .page-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 6px;
    text-align: left;
    text-transform: uppercase;
}
#container {
    float: left;
    margin: 15px 2% 0;
    padding: 0 0 60px;
    width: 96%;
}
.product-search-form {
	float: left;
	position: relative;
	width: 100%;
}
.product-search-form .search-box { float:left; width:60%; }
.search-box > input { border:1px solid #000; line-height:28px; margin-top:5px; width:86%; border:1px solid #ccc; float:left; }
#payment-page {
display:none;
background-color: #FFFFFF;
border-radius: 5px;
box-shadow: 0 0 25px 5px #999999;
color: #111111;
display: block;
min-width: 450px;
padding: 25px;
min-height:525px;
/*height:auto!important;*/
height: 525px !important;
opacity: 1;
z-index: 9999;
overflow: auto;
width: 699px !important;
}
#maintableadmin{
float:left;
width:100%;
margin:10px 0px 25px 0px;
border:1px solid #7f7f7f;
box-shadow:1px 1px 0px #272727, -1px 1px 0px #272727,  -1px -1px 0px #272727,  1px -1px 0px #272727;
border-radius:5px;
overflow:hidden;
background:#2a2a2a;
/*height: 433px;*/
}
#maintableadmin table{ color: #fff !important; width: 100%; }
#maintableadmin .payment-change-row{ cursor:pointer; }
#maintableadmin  tr.current{  background:#63BB05; }
#maintableadmin tr td{ border-bottom: 1px solid #0B0B0B; border-right: 1px solid #494949;  padding: 5px; font-family: microsoft sans serif; color: #FFF;}
#maintableadmin thead td,
#maintableadmin td.label{  color: #93FE45; font-family: 'Microsoft Sans Serif'; font-size: 11px; font-weight: bold; text-transform: uppercase;   }
#maintableadmin tbody .highlight{ font-weight:bold; }
#statusbar-display { display: none !important; }
#maintableadmin td.value input,
#maintableadmin td.value .input-text,
#maintableadmin td.value input textarea{  border-radius: 5px; padding: 4px; width: 93%; background:#f1f1f1; }
#maintableadmin td.label{ font-size:12px; }
#maintableadmin .action button{ float:none; }
#maintableadmin .empty{ font-size:13px; font-weight:bold; }
#maintableadmin button.addbtn, a.addbtn { height: 36px !important; padding: 0 17px !important; font-size: 12px !important; }
#maintableadmin .pagination { margin-top: 0px !important; }
#centeredge .button {
/*background-color: #000000;
border-radius: 5px;
box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);*/
color: #FFFFFF;
cursor: pointer;
display: inline-block;
padding: 3px 6px;
text-align: center;
text-decoration: none;
width: 18px;
}
.b-close { position: relative;left: 13px; top: 3px;}
.b-close { background-position: 0 3px !important;}
#maintableadmin .btn-update{
margin-left: 15px;
color:#fff;
text-shadow:0px 1px 0px #fff;
background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(197, 230, 117, 1) 0%, rgba(77, 134, 19, 1) 100%) repeat scroll 0 0;
border-radius: 5px;
}
#payment-form .pagination { background: #444444; border-top: 1px solid #0b0b0b;}
#ajaxloader { background:transparent url(../image/pre-loader-icon.GIF) no-repeat center center; width: 100%; height: 100px; float: left;}
/*.get-products-title {margin:0 auto;width:10%;padding:10px;} ragu*/
.get-products-title{float:left;padding:5px;}
.get-products-text { background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(197, 230, 117, 1) 0%, rgba(77, 134, 19, 1) 100%) repeat scroll 0 0; color: #fff; float: right; font-size: 16px; font-weight: bold; height: 30px; line-height: 30px; margin: 0 0 15px; text-align: center; width: 140px;}

