/* jquery validation style */
.formError { clear:both; min-height:15px; margin:3px 0 0 9px; background:url(../image/validation_advice_bg.gif) no-repeat 2px 1px; padding-left:16px; font-size:.95em; font-weight:bold; line-height:1.25em; color:#FF0000; }
