/*Extra large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) and (max-width: 1400px){

}



/*Large devices (desktops, 992px and up)*/

@media (min-width: 992px) and (max-width: 1199px){ 

}



/*Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) and (max-width: 991px){

}



/*Small devices (landscape phones, 576px and up)*/

@media (min-width: 0px) and (max-width: 767px){ 

	#page-wrap { padding: 5%; }

	#address{ height: auto; margin: 30px 0px; }

	#meta{ width: 100%; }

	#items thead #items tbody{ width: 50%; float: left; }

	#items thead tr.item-row th{ display: none; }

	#items tr.item-row td{ padding: 5px 0px;  }

	#items tr.item-row td.sno{ display: none; }

	#items tr.item-row td.prdcode{ width: 300px; display:block; }

	#page-wrap #items-desktop{ display: none; }

	#page-wrap #items-mobile{width: 100%; display: block; margin: 30px 0px 0px 0px;}

	#items-mobile tbody tr { border:1px solid #eceef4; }

	#items-mobile tbody tr.mbltop{ margin-top: 8px; display: inline-block;  }

	#items-mobile tbody tr td{ border:none; padding: 0px 0px; width: 45%; float: left; padding:2px 6px; font-size: 12px; }

	#items-mobile tbody tr td.mblvle{ text-align: right; }

	#items-mobile tbody tr td.mblabel{ width: 96.1%; font-size: 18px; font-weight: bolder; background:#eceef4;  }

	#total, .total-value{ text-align: right; }

	#items-mobile tbody tr td.total-line{font-size: 15px; font-weight: bold;}

	#items-mobile tbody tr.mblbtm{ background:#eceef4;  }

	.button3 {		
	    background-color: #4CAF50;
	    border: none;
	    color: white;
	    border-radius: 5px;
	    font-size: 13px;
	    float: left;
	    width: 100%;
	}
}
.loader {
	border: 2px solid #f3f3f3;
	 border-radius: 50%;
	 border-top: 3px solid #3498db;
	 width: 20px;
	 height: 20px;
	 -webkit-animation: spin 2s linear infinite;
}