/*
	 CSS-Tricks Example
	 by Chris Coyier
	 http://css-tricks.com
*/

* { margin: 0; padding: 0; }
body { font: 14px/1.4 Helvetica, Sans-Serif; background: #eceef4; }
#page-wrap { max-width: 1000px; width: 90%; margin: 0 auto; background: #FFFFFF; padding: 2%; }

textarea { border: 0; font: 14px Helvetica, Sans-Serif; overflow: hidden; resize: none; }
table { border-collapse: collapse; }
table td, table th { border: 1px solid #d6d9e0; padding: 5px; }

#header { height: 15px; width: 100%; margin: 20px 0; background: #222; text-align: center; color: white; font: bold 15px Helvetica, Sans-Serif; text-decoration: uppercase; letter-spacing: 20px; padding: 8px 0px; }

#address { width: 250px; height: 150px; float: left; }
#customer { overflow: hidden; }

#logo { text-align: right; float: right; position: relative; margin-top: 25px; border: 1px solid #fff; max-width: 540px; max-height: 100px; overflow: hidden; }
#logo:hover, #logo.edit { border: 1px solid #000; margin-top: 0px; max-height: 125px; }
#logoctr { display: none; }
#logo:hover #logoctr, #logo.edit #logoctr { display: block; text-align: right; line-height: 25px; background: #eceef4; padding: 0 5px; }
#logohelp { text-align: left; display: none; font-style: italic; padding: 10px 5px;}
#logohelp input { margin-bottom: 5px; }
.edit #logohelp { display: block; }
.edit #save-logo, .edit #cancel-logo { display: inline; }
.edit #image, #save-logo, #cancel-logo, .edit #change-logo, .edit #delete-logo { display: none; }
#customer-title { font-size: 20px; font-weight: bold; float: left; width: 100%; }

#meta { margin-top: 1px; width: 300px; float: right; }
#meta td { text-align: right;  }
#meta td.meta-head { text-align: left; background: #eceef4; }
#meta td textarea { width: 100%; height: 20px; text-align: right; }

#items-desktop { clear: both; width: 100%; margin: 30px 0 0 0; border: 1px solid #d6d9e0; }
#items-desktop th { background: #eceef4; }
#items-desktop textarea { width: 80px; height: 50px; }
#items-desktop tr.item-row td { border: 0; vertical-align: top; text-align: center; padding: 15px 5px; }
#items-desktop td.description { width: 300px; }
#items-desktop td.item-name { width: 175px; }
#items-desktop td.description textarea, #items td.item-name textarea { width: 100%; }
#items-desktop td.total-line { border-right: 0; text-align: right !important; }
#items-desktop td.total-value { border-left: 0; padding: 10px; text-align: right; }
#items-desktop td.total-value textarea { height: 20px; background: none; }
#items-desktop td.balance { text-align: right; }
#items-desktop td.blank { border: 0; }
#items-desktop tr.item-row th { width:10%;  }
#terms { text-align: center; margin: 20px 0 0 0; }
#terms h5 { text-transform: uppercase; font: 13px Helvetica, Sans-Serif; letter-spacing: 10px; border-bottom: 1px solid black; padding: 0 0 8px 0; margin: 0 0 8px 0; }
#terms textarea { width: 100%; text-align: center;}

textarea:hover, textarea:focus, #items td.total-value textarea:hover, #items td.total-value textarea:focus, .delete:hover { background-color:#EEFF88; }

.delete-wpr { position: relative; }
.delete { display: block; color: #000; text-decoration: none; position: absolute; background: #EEEEEE; font-weight: bold; padding: 0px 3px; border: 1px solid; top: -6px; left: -22px; font-family: Verdana; font-size: 12px; }
#items td.total-value a{
	background: #007bff;
	padding: 10px 15px;
	color: #FFFFFF;
	border-radius: 6px;
	display: inline-block;
	text-decoration: none;
}
#total{
	font-size: 16px;
	font-weight: bold;
}
.form-control{
	display: block;
	line-height: 22px;
	width: 100%;
}

/*#items-desktop{ display: block; }*/
#page-wrap #items-mobile{ display: none; }
.table-list{ width: 100%; }
.table-list th{ background: #eceef4; font-weight: normal; }
.table-list tr{ text-align: center; }

.button3 {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
}