body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: #ffffff;
  overflow: scroll;
  margin: 0;
}

.commonChart {
  width: 100%;
  max-height: 400px;
  height: 100vh;
}